{% extends 'baseIn.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="center">Listing collaborateur</h1>
        <ul>
            <li class="btn waves-effect waves-lighten">
                <a href="{{ path('newUser') }}" class="white-text">Ajouter un collaborateur</a>
            </li>
        </ul>
        <ul class="row">
            {% for user in users %}
            <li class="card sticky-action col s12 m6 l4">
                <div class="logoCompany waves-effect waves-block waves-light center">
                    <img class="activator circle" src="{{ user.photo }}" height="150px">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    <a href="{{ path('UserProfil', { 'slug': user.slug }) }}" class="black-text">
                        <i class="material-icons right">more_vert</i>
                        <span class="truncate">{{ user.firstName }} {{ user.lastName }} |
                            {% if user.company != null %}
                                {{ user.company.name }}
                            {% elseif user.status == 1 %}
                                Admin
                            {% elseif user.status == 4 or user.status == 5 %}
                                HappyCoach
                            {% endif %}
                        </span>
                    </a>
                </span>
                        <div class="row">
                            <p class="left"><a href="{{ path('UserProfil', { 'slug': user.slug }) }}">Profil</a></p>
                            <p class="right"><a href="{{ path('User_edit', { 'slug': user.slug }) }}">Supprimer</a></p>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ user.firstName }} {{ user.lastName }}<i class="material-icons right">close</i></span>
                        <ul>
                            <li><span>Métier :</span> {{ user.job }}</li>
                            <li><span>Lieux :</span> {{ user.workplace }}</li>
                            <li><span>Langue natale :</span> {{ user.nativeLanguage }}</li>
                            <li><span>Autres langues :</span>
                                {% for language in user.languagesUser %}
                                    {{ language }}
                                {% endfor %}
                            </li>
                            <li><span>Tel :</span> {{ user.phone }}</li>
                            <li><span>Email :</span> {{ user.email }}</li>
                            <li><span>Date :</span> {% if user.birthdate %}{{ user.birthdate|date('Y-m-d H:i:s') }}{% endif %}</li>
                            <li><span>Biography :</span> {{ user.biography }}</li>
                            <li><span>Slogan :</span> {{ user.slogan }}</li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
