{% extends 'baseIn.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Birthdate</th>
                <th>Photo</th>
                <th>Biography</th>
                <th>Slogan</th>
                <th>Password</th>
                <th>Mood</th>
                <th>Job</th>
                <th>Workplace</th>
                <th>Nativelanguage</th>
                <th>Language</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('UserProfil', { 'slug': user.slug }) }}">{{ user.slug }}</a></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.status }}</td>
                <td>{% if user.birthdate %}{{ user.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.photo }}</td>
                <td>{{ user.biography }}</td>
                <td>{{ user.slogan }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.mood }}</td>
                <td>{{ user.job }}</td>
                <td>{{ user.workplace }}</td>
                <td>{{ user.nativeLanguage }}</td>
                <td>{{ user.language }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">Profil</a>
                        </li>
                        <li>
                            <a href="{{ path('User_edit', { 'slug': user.slug }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newUser') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
