{% extends 'baseIn.html.twig' %}

{% block content %}
    <div class="container">

        <h1 class="center">Liste des {{ listing }} </h1>
        <ul>
            <li class="btn waves-effect waves-lighten">
                <a href="{{ path('newUser', {'status' : status}) }}" class="white-text">Ajouter un {{ listing }}</a>
            </li>
        </ul>
        <ul class="row">
            {% for user in users %}
                {% if user.isactive != true %}
                    <li class="card sticky-action col s12 m6 l4 grey lighten-1">
                {% else %}
                    <li class="card sticky-action col s12 m6 l4">
                {% endif %}

                <div class="logoCompany waves-effect waves-block waves-light center">
                    {% if user.photo is null %}
                        <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" height="100px" class="circle">
                    {% else %}
                        <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" height="100px" class="circle">
                    {% endif %}
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                           <i class="material-icons right">more_vert</i>
                        <span class="truncate">{{ user.firstName }} {{ user.lastName }}
                            {% if user.company != null %}
                                | {{ user.company.name }}
                                {#{% elseif user.status == 1 %}#}
                                {#Admin#}
                            {#{% elseif user.status == 4 %}#}
                                {#HappyCoach#}
                            {% endif %}
                        </span>
                </span>
                        <div class="row">
                            <p class="left">
                                {% if user.company != null %}
                                    <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">Profil</a>
                                {% elseif user.status == 4 %}
                                    <a href="{{ path('profilHappyCoach', { 'slug': user.slug }) }}">Profil</a>
                                {% endif %}
                            </p>
                            <p class="right"><a href="{{ path('User_edit', { 'slug': user.slug }) }}">Supprimer</a></p>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 truncate">{{ user.firstName }} {{ user.lastName }}<i class="material-icons right">close</i></span>
                        <ul>
                            <li><span>Métier :</span> {{ user.job }}</li>
                            <li><span>Lieu :</span> {{ user.workplace }}</li>
                            <li><span>Langue natale :</span> {{ user.nativeLanguage }}</li>
                            <li><span>Autres langues :</span>
                                {% for language in user.languagesUser %}
                                    {{ language }}
                                {% endfor %}
                            </li>
                            <li><span>Téléphone :</span> {{ user.phone }}</li>
                            <li><span>Email :</span> {{ user.email }}</li>
                            <li><span>Date :</span> {% if user.birthdate %}{{ user.birthdate|date('Y-m-d H:i:s') }}{% endif %}</li>
                            <li><span>Biographie :</span> {{ user.biography }}</li>
                            <li><span>Slogan :</span> {{ user.slogan }}</li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
