{% extends 'baseIn.html.twig' %}

{% block content %}
    <div class="container">
        <nav class="wrapper row">
            <ul class="center bread">
                <li class="active" id="breadOne" onclick="goStep1()"><a href="#">Infos personnelles</a></li>
                <li class="" id="breadTwo" onclick="goStep2()"><a href="#">Infos personnelles</a></li>
                <li class="" id="breadThree" onclick="goStep3()"><a href="#">Infos personnelles</a></li>
            </ul>
        </nav>
        {{ form_start(edit_form) }}
        <br>
        {#step#}
        <div id="step1">

            <div class="row">
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Prenom :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                        {% if (form_errors(edit_form.firstName)) %}
                            {{ form_widget(edit_form.firstName, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.firstName) }}
                        {% endif %}
                        <label for="firstName"><span class="requireInput">* </span>Prénom</label>
                        <div class="center error">
                            {{ form_errors(edit_form.firstName) }}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Nom :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                        {% if (form_errors(edit_form.lastName)) %}
                            {{ form_widget(edit_form.lastName, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.lastName) }}
                        {% endif %}
                        <label for="lastName"><span class="requireInput">* </span>Nom</label>
                        <div class="center error">
                            {{ form_errors(edit_form.lastName) }}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Téléphone :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                        {% if (form_errors(edit_form.phone)) %}
                            {{ form_widget(edit_form.phone, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.phone) }}
                        {% endif %}
                        <label for="phone"><span class="requireInput">* </span>Téléphone</label>
                        <div class="center error">
                            {{ form_errors(edit_form.phone) }}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Email :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                        {% if (form_errors(edit_form.email)) %}
                            {{ form_widget(edit_form.email, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.email) }}
                        {% endif %}
                        <label for="email"><span class="requireInput">* </span>Email</label>
                        <div class="center error">
                            {{ form_errors(edit_form.email) }}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Date d'Anniversaire :</h5>
                    {% if (form_errors(edit_form.birthdate)) %}
                        {{ form_widget(edit_form.birthdate, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        <div class="col s3">
                            {{ form_widget(edit_form.birthdate.year) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(edit_form.birthdate.month) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(edit_form.birthdate.day) }}
                        </div>
                    {% endif %}
                    <div class="center error">
                        {{ form_errors(edit_form.birthdate) }}
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Photo :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                        {% if (form_errors(edit_form.photo)) %}
                            {{ form_widget(edit_form.photo, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.photo) }}
                        {% endif %}
                        <label for="photo"><span class="requireInput">* </span>Photo</label>
                        <div class="center error">
                            {{ form_errors(edit_form.photo) }}
                        </div>
                    </div>
                </div>
                <div class="center">
                <a class="waves-effect waves-light btn amber darken-3" onclick="goStep2()">suivant</a>
                </div>
            </div>
        </div>
        {#step 2#}
        <div id="step2" class="hide">


            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Job :</h5>
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.job)) %}
                        {{ form_widget(edit_form.job, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.job) }}
                    {% endif %}
                    <label for="job"><span class="requireInput">* </span>job</label>
                    <div class="center error">
                        {{ form_errors(edit_form.job) }}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Lieu du travail :</h5>
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.workplace)) %}
                        {{ form_widget(edit_form.workplace, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.workplace) }}
                    {% endif %}
                    <label for="job"><span class="requireInput">* </span>Lieu du travail</label>
                    <div class="center error">
                        {{ form_errors(edit_form.workplace) }}
                    </div>
                </div>
            </div>
            {#<div class="col s12">#}
                {#<h5 class="titleInscription blue-text text-darken-3">Entreprise :</h5>#}
                {#<div class="input-field col s12">#}
                    {#<i class="material-icons prefix blue-text text-darken-3">account_circle</i>#}
                    {#{% if (form_errors(edit_form.company)) %}#}
                        {#{{ form_widget(edit_form.company, {'attr': {'class': 'error'}}) }}#}
                    {#{% else %}#}
                        {#{{ form_widget(edit_form.company) }}#}
                    {#{% endif %}#}
                    {#<label for="company"><span class="requireInput">* </span>Entreprise</label>#}
                    {#<div class="center error">#}
                        {#{{ form_errors(edit_form.company) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="center">
            <a class="waves-effect waves-light btn blue darken-3" onclick="goStep1()">retour</a>
            <a class="waves-effect waves-light btn amber darken-3" onclick="goStep3()">suivant</a>
            </div>
        </div>
{#step3#}
        <div id="step3" class="hide">

            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Biographie :</h5>
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.biography)) %}
                        {{ form_widget(edit_form.biography, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.biography, {'attr':{'class': 'materialize-textarea'}}) }}
                    {% endif %}
                    <label for="biography"><span class="requireInput">* </span>Biographie</label>
                    <div class="center error">
                        {{ form_errors(edit_form.biography) }}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Slogan :</h5>
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.slogan)) %}
                        {{ form_widget(edit_form.slogan, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.slogan) }}
                    {% endif %}
                    <label for="slogan"><span class="requireInput">* </span>Slogan</label>
                    <div class="center error">
                        {{ form_errors(edit_form.slogan) }}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Humeur :</h5>
                <div class="range-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.mood)) %}
                        {{ form_widget(edit_form.mood, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.mood) }}
                    {% endif %}
                    <div class="center error">
                        {{ form_errors(edit_form.mood) }}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Langue maternelle :</h5>
                <div class="range-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.nativeLanguage)) %}
                        {{ form_widget(edit_form.nativeLanguage, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.nativeLanguage) }}
                    {% endif %}
                    <div class="center error">
                        {{ form_errors(edit_form.nativeLanguage) }}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <h5 class="titleInscription blue-text text-darken-3">Langue parlée :</h5>
                <div class="range-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                    {% if (form_errors(edit_form.languagesUser)) %}
                        {{ form_widget(edit_form.languagesUser, {'attr': {'class': 'error'}}) }}
                    {% else %}
                        {{ form_widget(edit_form.languagesUser) }}
                    {% endif %}
                    <div class="center error">
                        {{ form_errors(edit_form.languagesUser) }}
                    </div>
                </div>
            </div>
            <div class="center">
            <a class="waves-effect waves-light btn blue darken-3" onclick="goStep2()">retour</a>
            <input class="waves-effect waves-light btn pink darken-2" type="submit" value="Envoyer"/>
            </div>
        </div>
        <br>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/script/stepForm.js') }}"></script>
{% endblock %}