<div class="row hide-on-med-and-up show-on-small show-on-medium">
    {# mobile #}
    <ul class="switch">
        <li class="active"><a href="#tabInfo">Informations</a></li>
        <li><a href="#tabProjects">Projets</a></li>
    </ul>
    <div class="switch_container">
        <div id="tabInfo" class="col s12 white switch_content">
            <div class="row">
                <div class="card-panel amber darken-2 white-text">
                    <h5 class="titleSecond">A propos de moi </h5>
                    <p>
                        {{ user.biography }}
                    </p>
                </div>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                        <span class="center titleSecond">
                            <b>Le bonheur au travail c'est ...</b>
                            {{ user.slogan }}
                        </span>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Humeur</p>
                            <div class="col s12">
                                {{ include('user/userMood.html.twig') }}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Langues</p>
                            <div class="col s12">
                                {{ user.nativeLanguage }}
                                {% for language in user.languagesUser %}
                                    {{ language }}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Suivez-moi </p>
                            <div class="col s12">
                                <a href="{{ user.facebook }}"><i
                                            class="fa fa-facebook-square fa-2x blue-text text-darken-4"></i></a>
                                <a href="{{ user.twitter }}"><i
                                            class="fa fa-twitter-square fa-2x blue-text text-darken-1"></i></a>
                                <a href="{{ user.linkedin }}"><i class="fa fa-linkedin fa-2x red-text"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <h5 class="titleSecond">Mes passions et talents cachés :</h5>
                </div>
                <ul class="collection">
                    {% for skill in user.userskills %}
                    <li class="collection-item">
                        <div class="row">
                                <p class="col s12 titleSecond"> {{ skill.skill }}</p>
                                <div class="col l12">
                                    {{ include('skill/skillLevel.html.twig') }}
                                </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="tabProjects" class="col s12 white switch_content">
            <div class="row">
                <section class="PC_blockProject">
                    {{ include('project/blockProject.html.twig') }}
                </section>
            </div>
        </div>
    </div>
</div>
