<footer class="page-footer">
    <div class="row">
        <div class="container">
            <div class="col l5 s12">
                <h5 class="white-text titleSecond">Pages :</h5>
                <ul class="followUs">
                    <li><a class="grey-text text-lighten-3" href="{{ path('homepage') }}"><span>Home</span></a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('collaborators') }}"><span>Employé</span></a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('company') }}"><span>Entreprise</span></a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('happyCoach') }}"><span>HappyCoach</span></a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('contact') }}"><span>Contact</span></a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('cgv') }}"><span>Mentions Légales</span></a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text titleSecond">Réseaux sociaux :</h5>
                <ul class="followUs">
                    <li class="grey-text text-lighten-3 margin">
                        <a href="#">
                            <i class="fa fa-facebook-square hoverable"></i>
                            <span> Facebook</span>
                        </a>
                    </li>
                    <li class="grey-text text-lighten-3 margin">
                        <a href="#">
                            <i class="fa fa-twitter-square hoverable"></i>
                            <span> Twitter</span>
                        </a>
                    </li>
                    <li class="grey-text text-lighten-3 margin">
                        <a href="#">
                            <i class="fa fa-linkedin-square hoverable"></i>
                            <span> LinkedIn</span>
                        </a>
                    </li>
                    <li class="grey-text text-lighten-3 margin">
                        <a href="">
                            <i class="fa fa-commenting hoverable"></i>
                            <span> Blog</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4 left" href="./">© Copyrights <span class="amber-text text-darken-2"><b>HappySens</b></span> 2017 - All rights reserved</a>
            <span class="grey-text text-lighten-4 right">Made with <i class="fa fa-heart red-text"></i> by <a href="https://wildcodeschool.fr" class="yellow-text text-darken-3"><b>WildCodeSchool - Lyon</a></span>
        </div>
    </div>
</footer>


