{% extends 'baseIn.html.twig' %}

{% block content %}
    <h1 class="center title">Listes des Talents</h1>
    <div class="container generalContainer">
        <ul class="center">
            <li>
                <a class="btn waves-effect waves-lighten amber darken-2" href="{{ path('skills_new') }}"><i class="material-icons left">add</i>Ajouter</a>
            </li>
        </ul>
        <div class="containerSkill">
        {% for skill in skills %}
                <div class="card card-skill grey lighten-2">
                    <div class="card-content blue-text text-darken-3">
                        <span class="card-title black-text titleSecond center">{{ skill.nameSkill | upper }}</span>
                        <p>Salarié :
                            {% if skill.collaborator is empty %}
                                <b>0</b>
                            {% else %}
                                <b>{{ skill.collaborator.0.nbUser }}</b>
                                <span class="right">niveau : <b>{{ skill.collaborator.0.level | round(1) }}</b></span>
                            {% endif %}
                        <p>HappyCoach :
                            {% if skill.happyCoach is null %}
                            <b>0</b>
                            {% else%}
                             <b>{{ skill.happyCoach.0.nbUser  }}</b>
                                <span class="right">niveau : <b>{{  skill.happyCoach.0.level | round(1)}}</b></span>
                        {% endif %}
                        </p>
                        <p>Projet :
                            <b>{{ skill.nbproject }}</b>
                        </p>
                    </div>
                    <div class="card-action center">
                        <a class="btn waves-effect waves-lighten blue darken-2" href="{{ path('skills_show', { 'id': skill.id }) }}">Détails</a>
                        <a class="btn waves-effect waves-lighten pink darken-2" href="{{ path('skills_edit', { 'id': skill.id }) }}">Modifier</a>
                    </div>
                </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}
