{% extends 'baseIn.html.twig' %}

{% block content %}
    <h1 class="center titleSecond">Listes des Talents</h1>
    <div class="row">
        {% for skill in skills %}
            <div class="col s12 m6 l3">
                <div class="card  grey lighten-2">
                    <div class="card-content blue-text text-darken-3">
                        <span class="card-title black-text">{{ skill.nameSkill | upper }}</span>
                        <p>Nombre de salarié :
                            {% if skill.collaborator is empty %}
                                0
                            {% else %}
                                {{ skill.collaborator.0.nbUser }}
                                <span class="right">niveau : {{ skill.collaborator.0.level | round(1) }}</span>
                            {% endif %}
                        <p>Nombre d'HappyCoach :
                            {% if skill.happyCoach is null %}
                            0
                            {% else%}
                             {{ skill.happyCoach.0.nbUser  }}
                                <span class="right">niveau : {{  skill.happyCoach.0.level | round(1)}}</span>
                        {% endif %}
                        </p>
                        <p>Nombre de projet :
                                {{ skill.nbproject }}
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn waves-effect waves-lighten blue darken-2" href="{{ path('skills_show', { 'id': skill.id }) }}">Voir le talent</a>
                        <a class="btn waves-effect waves-lighten pink darken-2" href="{{ path('skills_edit', { 'id': skill.id }) }}">Modifier le talent</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <ul class="center">
        <li>
            <a class="btn waves-effect waves-lighten amber darken-2" href="{{ path('skills_new') }}">Ajouter un talent</a>
        </li>
    </ul>
{% endblock %}
