{% extends 'baseIn.html.twig' %}

{% block content %}
    <h1 class="center">Listes des Talents</h1>
    <div class="row">
        {% for skill in skills %}
            <div class="col s12 m6 l3">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ skill.nameSkill }}</span>
                        <p>Nombre de salarié :
                            {% for salarySkill in nbSalaryBySkill %}
                                {% if salarySkill.id == skill.id %}
                                    {{ salarySkill.nbUser | default('0') }}
                                {% endif %}
                            {% endfor %}</p>
                        <p>Nombre d'HappyCoach :
                            {% for skillHappyCoach in nbHappyCoachBySkill %}
                                {% if skillHappyCoach.id == skill.id %}
                                    {{ skillHappyCoach.nbUser | default('0') }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('skills_edit', { 'id': skill.id }) }}">modifier le talent</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <ul>
        <li>
            <a href="{{ path('skills_new') }}">Créer un nouveau Talent</a>
        </li>
    </ul>
{% endblock %}
