<div class="card-panel cardShowSkill col s12 m6 center">
        <div class="row">
            {% if user.status == 2 or user.status == 3 %}
                <div class="chip right">
                    <a href="{{ path('CompanyProfil', { 'slug': user.slugCompany }) }}">{{ user.company }}</a><br>
                </div>
            {% endif %}
        </div>
        {% if user.photo is null %}
            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle" width="70px">
        {% else %}
            <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" class="circle" width="70px">
        {% endif %}
        <div class="row">
            {% if user.status == 4  %}
                <a href="{{ path('profilHappyCoach', { 'slug': user.slug }) }}">{{ user.firstName }} {{ user.lastName }}</a><br>
            {%  elseif user.status == 2 or user.status == 3 %}
                <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">{{ user.firstName }} {{ user.lastName }}</a><br>
            {% endif %}
            {% set level = user.level %}
            {{ include('skill/skillLevel.html.twig') }}
            {% if user.status == 2 %}
                <p>Référent</p>
            {% endif %}
        </div>
</div>