{% extends 'baseIn.html.twig' %}

{% block content %}
    <div class="container">

       <div class="row">
            <h1 class="center">Modifier le profil de l'entreprise : {{ company.name }}</h1>
        </div>
        <nav class="wrapper row">
            <ul class="center bread">
                <li class="active userCompany" id="breadOne" onclick="goStep1()"><a href="#">Informations Entreprise</a></li>
                <li class="userCompany" id="breadTwo" onclick="goStep2()"><a href="#">Informations HappySens</a></li>
            </ul>
        </nav>
        {{ form_start(edit_form) }}
        {#step#}
        <div id="step1">

            <div class="row">
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Nom :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">account_circle</i>
                        {% if (form_errors(edit_form.name)) %}
                            {{ form_widget(edit_form.name, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.name) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Date de Création :</h5>
                    {% if (form_errors(edit_form.birthdate))  %}
                        {{ form_row(edit_form.birthdate, {'attr': {'class': 'datepickerCompany error'}}) }}
                    {% else %}
                        {{ form_row(edit_form.birthdate, {'attr': {'class': 'datepickerCompany'}}) }}
                    {% endif %}
                    <div class="center error">
                        {{ form_errors(edit_form.birthdate) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Activité :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">work</i>
                        {% if (form_errors(edit_form.activity)) %}
                            {{ form_widget(edit_form.activity, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.activity) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.activity) }}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">lieu :</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">location_on</i>
                        {% if (form_errors(edit_form.location)) %}
                            {{ form_widget(edit_form.location, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.location) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.location) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Effectifs :</h5>
                    <div class="file-field input-field col s12">
                        <i class="material-icons prefix blue-text text-darken-3">group</i>
                        {% if (form_errors(edit_form.nbSalary)) %}
                            {{ form_widget(edit_form.nbSalary, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.nbSalary) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.nbSalary) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                   <h5 class="titleInscription blue-text text-darken-3">Facebook :</h5>
                   <div class="range-field col s12">
                       <i class="fa fa-facebook-square fa-2x blue-text text-darken-3 hoverable"></i>
                        {% if (form_errors(edit_form.facebook)) %}
                            {{ form_row(edit_form.facebook, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_row(edit_form.facebook) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.facebook) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <h5 class="titleInscription blue-text text-darken-3">Twitter</h5>
                    <div class="range-field col s12">
                        <i class="fa fa-twitter-square fa-2x blue-text text-darken-3 hoverable"></i>
                        {% if (form_errors(edit_form.twitter)) %}
                            {{ form_row(edit_form.twitter, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_row(edit_form.twitter) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.twitter) }}
                        </div>
                    </div>
               </div>
                <div class="col s12 m6">
                    <h5 class="titleInscription blue-text text-darken-3">linkedin :</h5>
                    <div class="range-field col s12">
                        <i class="fa fa-linkedin-square fa-2x blue-text text-darken-3 hoverable"></i>
                        {% if (form_errors(edit_form.linkedin)) %}
                            {{ form_row(edit_form.linkedin, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_row(edit_form.linkedin) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.linkedin) }}
                        </div>
                      </div>
                </div>

                <div class="col s6">
                    <h5 class="titleInscription blue-text text-darken-3">Logo :</h5>
                    <div class="file-field input-field col s12">
                        {% if (form_errors(edit_form.logo)) %}
                            {{ form_widget(edit_form.logo, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            <div class="btn blue darken-2">
                                <span>Votre logo</span>
                                {{ form_widget(edit_form.logo) }}
                            </div>
                        {% endif %}
                        <div class="file-path-wrapper">
                            <img class="right" src="{{ asset('uploads/photoCompany/' ~ company.logo) }}" alt="">
                        </div>
                        <div class="center error">
                        </div>
                    </div>
                </div>
            </div>
            <div class="center">
                <a class="waves-effect waves-light btn amber darken-3" onclick="goStep2()">suivant</a>
            </div>
        </div>
        {#step#}
        <div id="step2" class="hide">
            <div class="row">
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Le bonheur au travail c'est :</h5>
                    <div class="input-fiel col s12">
                        {% if (form_errors(edit_form.slogan)) %}
                            {{ form_widget(edit_form.slogan, {'attr' : {'class': 'materialize-textarea error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.slogan, {'attr' : {'class': 'materialize-textarea'}}) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.slogan) }}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Les enjeux collectifs de la qualité de Vie au Travail :</h5>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.quality)) %}
                            {{ form_widget(edit_form.quality, {'attr' : {'class': 'materialize-textarea error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.quality, {'attr' : {'class': 'materialize-textarea'}}) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.quality) }}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Les 3 critères pour valider un projet :</h5>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.threeCriteria)) %}
                            {{ form_widget(edit_form.threeCriteria, {'attr' : {'class': 'materialize-textarea error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.threeCriteria, {'attr' : {'class': 'materialize-textarea'}}) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.threeCriteria) }}
                        </div>
                    </div>
                </div>
                <div class="center">
                    <a class="waves-effect waves-light btn blue darken-3" onclick="goStep1()">retour</a>

                    <input class="waves-effect waves-light btn pink darken-2" type="submit" value="Editer le profil"/>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/script/stepForm.js') }}"></script>
{% endblock %}