<div class="row hide-on-med-and-down show-on-large">
    {# Others #}
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <div class="card-panel blue darken-2 titleSecond center">
                      <div class="white-text"> Les enjeux collectifs de la qualité de Vie au Travail :
                          <p>{{ company.quality }}.</p>
                      </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="card-panel blue darken-2 titleSecond center">
                      <div class="white-text"> Les 3 critéres à remplir pour un Happy projet validé : <br>
                          <p>{{ company.threeCriteria }}.</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <p class="center titleSecond valign-wrapper">
                                <b>Le bonheur au travail c'est ...</b>
                                {{ company.slogan }}.
                            </p>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Langues</p>
                            <div class="col l12">
                                {% for language in company.languagesCompany %}
                                {{ language }}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% if company.facebook or company.twitter or company.linkedin is not null %}
                        <li class="collection-item">
                            <div class="row">
                                <p class="col l12 titleSecond">Suivez-moi </p>
                                <div class="col l12">
                                    {% if company.facebook is not null %}
                                        <a href="{{ company.facebook }}"><i class="fa fa-facebook-square fa-2x blue-text text-darken-4"></i></a>
                                    {% else %}
                                        <span><i class="fa fa-facebook-square fa-2x grey-text text-darken-1"></i></span>
                                    {% endif %}
                                    {% if company.twitter is not null %}
                                        <a href="{{ company.twitter }}"><i class="fa fa-twitter-square fa-2x blue-text text-darken-1"></i></a>
                                    {% else %}
                                        <span><i class="fa fa-twitter-square fa-2x grey-text text-darken-1"></i></span>
                                    {% endif %}
                                    {% if company.linkedIn is not null %}
                                        <a href="{{ company.linkedin }}"><i class="fa fa-linkedin-square fa-2x blue-text text-darken-3"></i></a>
                                    {% else %}
                                        <span><i class="fa fa-linkedin-square fa-2x grey-text text-darken-1"></i></span>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <div>
                    <h5 class="titleSecond">Nos passions et talents cachés :</h5>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            {% for skill in skillInCompany %}
                            <p class="col l12 titleSecond">{{ skill.nameSkill }} ({{ skill.nbSalary }} Happy Salariés)</p>
                            <div class="col l12">
                                {% set level = skill.level %}
                                {{ include('skill/skillLevel.html.twig') }}
                            </div>
                            {% endfor %}
                        </div>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div>
                    <h5 class="titleSecond">Mes Happy Salarié : </h5>
                </div>
                <div class="collection paddingCollection">
                    {% for user in collaborators | slice(0, 3) %}
                        <div class="col l4 center-align">
                            <ul class="">
                                <li>
                                    {% if user.photo is null %}
                                        <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle" height="110px">
                                    {% else %}
                                        <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" height="110px">
                                    {% endif %}
                                </li>
                                <li><a href="{{ path('UserProfil', {'slug' : user.slug }) }}">{{ user.firstName }} {{ user.lastName }}</a></li>
                                <li>{{ include('user/userMood.html.twig') }} </li>
                            </ul>
                        </div>
                    {% endfor %}
                    <div class="row center">
                        <a class="waves-effect waves-light modal-trigger btn grey darken-2" href="#modal2">Voir tous les happySalariés</a>
                        {#<span class="col s12 center" id="aShowAllSalaryLarge"><a onclick="showAllSalaryLarge()">Voir tous les Happy Salarié</a></span>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="row">
                <section class="PC_blockProject">
                    {{ include('project/blockProjectCompany.html.twig') }}
                </section>
            </div>
        </div>
    </div>
    <div class="col l12" id="allSalaryLarge">
        <div class="row">
            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <h4 class="left">Tous les salariés</h4>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
                    </div>
                    <div class="row">
                        {% for user in collaborators %}
                            <div class="col l4 card  center-align">
                                <ul class="">
                                    <li>
                                        {% if user.photo %}
                                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" height="120px" class="circle">
                                        {% else %}
                                            <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" height="120px" class="circle">
                                        {% endif %}
                                    </li>
                                    <li><a href="{{ path('UserProfil', {'slug' : user.slug }) }}">{{ user.firstName }} {{ user.lastName }}</a></li>
                                    <li> {{ include('user/userMood.html.twig') }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
