<div class="row hide-on-med-and-down show-on-large">
    {# Others #}
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <div class="card-panel blue darken-2 titleSecond center">
                      <div class="white-text"> Les enjeux collectifs de la qualité de Vie au Travail :
                          <p>{{ company.quality }}.</p>
                      </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="card-panel blue darken-2 titleSecond center">
                      <div class="white-text"> Les 3 critéres à remplir pour un Happy projet validé : <br>
                          <p>{{ company.threeCriteria }}.</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                        <span class="center titleSecond">
                            <b>Le bonheur au travail c'est ...</b>
                            {{ company.slogan }}.
                        </span>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Langues</p>
                            <div class="col l12">
                                {{ company.language }}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Suivez-nous </p>
                            <div class="col l12">
                                <a href="{{ company.facebook }}"><i class="fa fa-facebook-square fa-2x blue-text text-darken-4"></i></a>
                                <a href="{{ company.twitter }}"><i class="fa fa-twitter-square fa-2x blue-text text-darken-1"></i></a>
                                <a href="{{ company.linkedin }}"><i class="fa fa-linkedin fa-2x blue-text"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <h5 class="titleSecond">Nos passions et talents cachés :</h5>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            {% for skill in skillInCompany %}
                            <p class="col l12 titleSecond">{{ skill.nameSkill }} ({{ skill.nbSalary }} Happy Salariés)</p>
                            <div class="col l12">
                                {% for i in 1..skill.level | round %}
                                    <i class="material-icons amber-text text-darken-2">star</i>
                                {% endfor %}
                                {% if skill.level!= 5 %}
                                    {% for i in 5..(skill.level | round+ 1) %}
                                        <i class="material-icons  amber-text text-darken-2">star_border</i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div>
                    <h5 class="titleSecond">Mes Happy Salarié : </h5>
                </div>
                <div class="collection">
                    {% for user in company.users | slice(1, 3) %}
                        <div class="col l4  center-align">
                            <ul class="">
                                <li><img class="circle responsive-img" src="{{ user.photo }}" alt="Vignette photo"></li>
                                <li><a href="{{ path('UserProfil', {'id' : user.id }) }}">{{ user.firstname }} {{ user.lastname }}</a></li>
                                <li>{{ include('user/userMood.html.twig') }} </li>
                            </ul>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <a class="waves-effect waves-light modal-trigger center-align" href="#modal2">Voir tous les
                            happySalariés</a>
                        {#<span class="col s12 center" id="aShowAllSalaryLarge"><a onclick="showAllSalaryLarge()">Voir tous les Happy Salarié</a></span>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="row">
                <section class="PC_blockProject">
                    {#{{ include('partials/components/PC_blockProject.html.twig') }}#}
                </section>
            </div>
        </div>
    </div>
    <div class="col l12" id="allSalaryLarge">
        <div class="row">
            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <h4 class="left">Tous les salariés</h4>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right"><i
                                    class="material-icons">close</i></a>
                    </div>
                    <div class="row">
                        {% for user in company.users %}
                            <div class="col l4 card  center-align">
                                <ul class="">
                                    <li>
                                        <img class="circle responsive-img" src="{{ user.photo }}" alt="Vignette photo">
                                    </li>
                                    <li><a href="{{ path('UserProfil', {'id' : user.id }) }}">{{ user.firstname }} {{ user.lastname }}</a></li>
                                    <li> {{ include('user/userMood.html.twig') }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
