<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Bienvenue{% endblock %} | HappySens</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('Favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
    <header id="header">
        {% block navbar %}
            {{ include('partials/components/navbarOut.html.twig') }}
            {{ include('partials/components/modalLog.html.twig') }}
        {% endblock %}
        {% block header %}{% endblock %}
    </header>
    <main class="col s12" id="main">
        <!--  include button scroll to top !!! Don't move this link !!! -->
        <div class="scrollToTop waves-effect waves-light amber darken-3 z-depth-2" aria-hidden="true" title="Retour haut de page.">
            <i class="material-icons">keyboard_capslock</i>
        </div>
        {% block content %}{% endblock %}
    </main>
    <div class="col s12" id="footer">
        {% block footer %}
            {{ include(':partials/frame:footer.html.twig') }}
        {% endblock %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="{{ asset('assets/script/app.js') }}"></script>
    <script src="{{ asset('assets/script/scrollTop.js') }}"></script>
    <script src="{{ asset('assets/script/scrollBottom.js') }}"></script>
    <script src="{{ asset('assets/script/animateScroll.js') }}"></script>
    <script src="{{ asset('assets/script/scrollTo.js') }}"></script>
    <script src="{{ asset('assets/script/switchNav.js') }}"></script>
    <script src="{{ asset('assets/script/tabs.js') }}"></script>
    <script src="{{ asset('assets/script/modalConnexion.js') }}"></script>
    <script src="{{ asset('assets/script/toast.js') }}"></script>
    {% block javascripts %}{% endblock %}
    {% endblock %}
    </body>
</html>
