{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="container generalContainer widthMax">
    <div class="row">
        <h5 class="blue-text text-darken-3 titleSecond">Changement de votre mot de passe</h5>
    </div>
    {{ form_start(form) }}
    <div class="input-field col s12 center">
        <i class="fa fa-lock prefix"></i>
        {% if (form_errors(form.pwd)) %}
            {{ form_widget(form.pwd, {'attr': {'class': 'error'}}) }}
        {% else %}
            {{ form_widget(form.pwd) }}
        {% endif %}
        <label for="email"><span class="requireInput">* </span>Mot de passe</label>
        <div class="center error">
            {{ form_errors(form.pwd) }}
            {% if error is defined %}
                {{ error }}
            {% endif %}
        </div>
    </div>
    <div class="input-field col s12 center">
        <i class="fa fa-repeat prefix"></i>
        {% if (form_errors(form.confirmPwd)) %}
            {{ form_widget(form.confirmPwd, {'attr': {'class': 'error'}}) }}
        {% else %}
            {{ form_widget(form.confirmPwd) }}
        {% endif %}
        <label for="email"><span class="requireInput">* </span>Confirmer</label>
        <div class="center error">
            {{ form_errors(form.confirmPwd) }}
            {% if error is defined %}
                {{ error }}
            {% endif %}
        </div>
    </div>
    <div class="input-field col s12 center">
        <button type="submit" class="btn waves-effect waves-light amber darken-2" onclick="loadingPage()">
            Confirmer
            <i class="material-icons right">send</i>
        </button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}