<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white">
            <a href="{{ path('homepage') }}" class="brand-logo center"><img src="{{ asset('assets/images/logo2.png') }}" alt="LOGO" width="90px" title="Acceuil"></a>
            <ul class="right">
                <li title="Vos notifications">
                    <a class="dropdown-button linkNavSide"  style="display: flex;" href="#!" data-activates="dropdownNotif">
                        <i class="material-icons">notifications</i>
                    </a>
                    <ul id="dropdownNotif" class="dropdown-content notifications">
                        <li class=""><a class="grey-text text-darken-3" href="{{ path('listingNotifications') }}">@title.notification</a></li>
                        <li><a class="grey-text text-darken-3" href="{{ path('listingNotifications') }}">@title.notification</a></li>
                        <li class="divider"></li>
                        <li><a class="blue-text text-darken-2" href="{{ path('list', { 'slug': app.user.slug }) }}">Voir toutes vos notifications</a></li>
                    </ul>
                </li>
                <li title="Vos notifications">
                    <a class="dropdown-button linkNavSide" style="display: flex;" href="#!" data-activates="dropdownSettings">
                        <i class="material-icons">settings</i>
                    </a>
                    <ul id="dropdownSettings" class="dropdown-content notifications">
                        <li><a class="grey-text text-darken-3" href="{{ path('User_edit', {'slug' : app.user.slug}) }}"><i class="material-icons">create</i>Modifier votre profil</a></li>
                        <li class="divider"></li>
                        <li><a class="blue-text text-darken-3" href="{{ path('logout') }}"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="left">
                <li title="Menu accès rapide">
                    <a href="#" data-activates="slide-out" class="button linkNavSide">
                        <div class="imgMenu">
                            <img class="circle responsive-img" src="{{ app.user.photo }}" alt="Vignette photo">
                            <span class="hide-on-small-only">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <a href="{{ path('profilAdmin', {'slug': app.user.slug}) }}" title="Voir votre profil">
                            <div class="background  blue darken-2 white-text">
                            </div>
                            <img class="circle" src="{{ app.user.photo }}">
                            <div>
                                <span class="name">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                <span class="email">{{ app.user.email }}</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">settings</i>Administration :</a></li>
                <li><a class="waves-effect" href="{{ path('profilAdmin', {'slug': app.user.slug}) }}"><i class="material-icons">view_quilt</i>Tableau de bord</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">store</i>Inscriptions :</a></li>
                <li><a class="waves-effect" href="{{ path('newCompany') }}"><i class="material-icons">domain</i>Entreprise</a></li>
                <li><a class="waves-effect" href="{{ path('newUser', { 'status' : 3}) }}"><i class="material-icons">domain</i>Collaborateurs</a></li>
                <li><a class="waves-effect" href="{{ path('newUser', {'status' : 4}) }}"><i class="material-icons">domain</i>HappyCoach</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">tab</i>Les projets :</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_shared</i>Les projets en cours</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_special</i>Les projets en attentes</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder</i>Les projets terminés</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">tab</i>Les entreprises :</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_shared</i>Les entreprise par projets</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_special</i>Les entreprise par nb user</a></li>
                <li><a class="waves-effect" href="{{ path('listingCompany') }}"><i class="material-icons">folder</i>Toutes les entreprise</a></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">tab</i>Les happy coachs :</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_shared</i>Par projets</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_special</i>Tous les happyCoachs</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">link</i>Liens pratiques :</a></li>
                <li><a class="waves-effect" href="{{ path('User_edit', {'slug' : app.user.slug}) }}"><i class="material-icons">create</i>Modifier votre profil</a></li>
                <li><a class="waves-effect" href="{{ path('logout') }}"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
                <li><a href="https://happiness-time.fr/" target="_blank" class="waves-effect"><i class="material-icons">message</i>Blog</a></li>
                <li><a href="{{ path('homepage') }}" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
                <li><a href="{{ path('contact') }}" class="waves-effect"><i class="material-icons">sms</i>Contact</a></li>
            </ul>
        </div>
    </nav>
</div>