<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white">
            <a href="{{ path('homepage') }}" class="brand-logo center"><img src="{{ asset('assets/images/logo2.png') }}" alt="LOGO" width="90px" title="Acceuil"></a>
            <ul class="right">
                <li title="Créer un projet"><a href="{{ path('project_new') }}"><span class="linkNavSide"><i class="material-icons">add</i></span></a></li>
                <li title="Vos notifications">
                    <a class="dropdown-button linkNavSide"  style="display: flex;" href="#!" data-activates="dropdownNotif">
                        <i class="material-icons">notifications</i>
                    </a>
                    <ul id="dropdownNotif" class="dropdown-content notifications">
                        <li class=""><a class="grey-text text-darken-3" href="{{ path('listingNotifications') }}">@title.notification</a></li>
                        <li><a class="grey-text text-darken-3" href="{{ path('listingNotifications') }}">@title.notification</a></li>
                        <li class="divider"></li>
                        <li><a class="blue-text text-darken-2" href="{{ path('list', { 'slug': app.user.slug }) }}">Voir toutes vos notifications</a></li>
                    </ul>
                </li>
                <li title="Vos paramétres">
                    <a class="dropdown-button linkNavSide" style="display: flex;" href="#!" data-activates="dropdownSettings">
                        <i class="material-icons">settings</i>
                    </a>
                    <ul id="dropdownSettings" class="dropdown-content notifications">
                        <li><a class="grey-text text-darken-3" href="{{ path('User_edit', {'slug' : app.user.slug}) }}"><i class="material-icons">create</i>Modifier votre profil</a></li>
                        <li class="divider"></li>
                        <li><a class="blue-text text-darken-3" href="{{ path('logout') }}"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="left">
                <li title="Menu accès rapide">
                    <a href="#" data-activates="slide-out" class="button linkNavSide">
                        <div class="imgMenu">
                            {% if app.user.photo is defined %}
                                <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                            {% else %}
                                <img src="{{ asset('uploads/photoUser/' ~ app.user.photo) }}" alt="profile image" class="circle z-depth-3 activator">
                            {% endif %}
                            <span class="hide-on-small-only">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <a href="{{ path('UserProfil', { 'slug': app.user.slug  }) }}" title="Voir votre profil">
                            <div class="background  blue darken-2 white-text">
                            </div>
                            {% if app.user.photo is defined %}
                                <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                            {% else %}
                                <img src="{{ asset('uploads/photoUser/' ~ app.user.photo) }}" alt="profile image" class="circle z-depth-3 activator">
                            {% endif %}
                            <div>
                                <span class="name">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                <span class="email">{{ app.user.email }}</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">tab</i>Projet :</a></li>
                <li><a class="waves-effect" href="{{ path('project_new') }}"><i class="material-icons">create_new_folder</i>Nouveau projet</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">store</i>Entreprise :</a></li>
                <li><a class="waves-effect" href="{{ path('CompanyProfil', {'slug' : app.user.company.slug}) }}"><i class="material-icons">domain</i>{{ app.user.company.name }}</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">link</i>Liens pratiques :</a></li>
                <li><a class="waves-effect" href="{{ path('User_edit', {'slug' : app.user.slug}) }}"><i class="material-icons">create</i>Modifier votre profil</a></li>
                <li><a class="waves-effect" href="{{ path('logout') }}"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
                <li><a href="https://happiness-time.fr/" target="_blank" class="waves-effect"><i class="material-icons">message</i>Blog</a></li>
                <li><a href="{{ path('homepage') }}" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
                <li><a href="{{ path('contact') }}" class="waves-effect"><i class="material-icons">sms</i>Contact</a></li>
            </ul>
        </div>
    </nav>
</div>