{% extends 'baseIn.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <div class="card medium headerProfil">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ asset('assets/images/happysens-coach2.jpeg') }}" height="300px">
                    </div>
                    <div class="card-profile-image">
                        {% if user.photo is null %}
                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                        {% else %}
                            <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" class="circle responsive-img">
                        {% endif %}
                    </div>
                    <a class="btn-floating btn-large halfway-fab activator waves-effect waves-light pink darken-2 right hoverable"><i
                                class="material material-icons">info_outline</i></a>
                    <div class="card-content">
                        <div class="myInfosEmploye">
                            <div id="name">
                                <span class="card-title activator grey-text text-darken-4">{{ user.firstName }} {{ user.lastName }}</span>
                                <span> {{ nbProject }}  Happy Projets</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <h5 class="amber-text">
                            {{ user.firstName }} {{ user.lastName }}
                            <i class="material-icons right black-text card-title">close</i>
                        </h5>
                        <div class="infoPersoEmploye">
                        </div>
                        <div class="col s12 l8 center-align">
                            <table class="infosEmploye">
                                <tbody>
                                <tr>
                                    <th>Fonction :</th>
                                    <td>{{ user.job }}</td>
                                </tr>
                                <tr>
                                    <th>Age :</th>
                                    <td>{% if user.birthdate %}{{ "now"|date("Y-d-m")  - user.birthdate|date('Y-m-d') }}{% endif %}
                                        ans
                                    </td>
                                </tr>
                                <tr>
                                    <th>Lieu de travail :</th>
                                    <td>{{ user.workplace }}</td>
                                </tr>
                                <tr>
                                    <th>Mail :</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone :</th>
                                    <td>{{ user.phone }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# For desktop #}
            {{ include('pages/In/happyCoach/largeProfilHappyCoach.html.twig') }}
            {# For mobile and tablet #}
            {{ include('pages/In/happyCoach/mobileProfilHappyCoach.html.twig') }}
        </div>
    </div>
{% endblock %}
