{% extends 'baseIn.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="center">Liste des Projets</h1>
        <ul class="row">
            {% for project in projects %}
                {% if project.author != null %}
                <li class="card medium col s12 m6">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ project.photo }}">
                    </div>
                    {% if project.status == 1 %}
                        <div class="chip inProgress chipStatus">
                            <span><i class="fa fa-clock-o"></i></span>
                            <span>Attente</span>
                        </div>
                    {% elseif project.status == 2 %}
                        <div class="chip validate chipStatus">
                            <span><i class="fa fa-clock-o"></i></span>
                            <span>En cours</span>
                        </div>
                    {% elseif project.status == 3 %}
                        <div class="chip end chipStatus">
                            <span><i class="fa fa-clock-o"></i></span>
                            <span>Terminé</span>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <div class="card-title activator grey-text text-darken-4">
                            <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                            <span class="truncate">{{ project.title }} | {{ project.author.company.name }}</span>
                        </div>
                        <div>
                            <a href="{{ path('UserProfil', { 'slug': project.author.slug }) }}">
                                <div class="chip">
                                    <img src="{{ project.author.photo }}" alt="photo {{ project.author }}"> <!-- notice the "circle" class -->
                                    <span class="black-text">{{ project.author }}</span>
                                </div>
                            </a>
                            {% if project.happyCoach is defined and project.happyCoach is not null%}
                                {#<a href="{{ path('UserProfil', { 'slug': project.happyCoach.slug }) }}">#}
                                    <div class="chip right">
                                        {#<img src="{{ project.happyCoach.photo }}" alt="photo {{ project.happyCoach }}">#}
                                        <!-- notice the "circle" class -->
                                        {#<span class="black-text">{{ project.happyCoach }}</span>#}
                                    </div>
                                {#</a>#}
                            {% else %}
                                <div class="chip">
                                    <a href="{{ path('project_edit', {'slug' : project.slug}) }}">
                                        <span class="black-text">Ajouter un HappyCoach</span></a>
                                </div>
                            {% endif %}
                            <div class="row">
                            {% if project.status == 1 %}
                                <a  class="btn green waves-effect waves-light" href="{{ path('project_validate', {'slug' : project.slug}) }}" title="Valider le projet">
                                        <span><i class="fa fa-check-square-o fa"></i></span>
                                </a>
                            {% endif %}
                            {% if project.status == 1 or project.status == 2 %}
                                <a class="btn red waves-effect waves-light" href="{{ path('project_finish', {'slug' : project.slug}) }}" title="Cloturer le projet">
                                        <span><i class="fa fa-remove fa"></i></span>
                                </a>
                            {% endif %}
                            {% if project.status == 3  %}
                                <a class="btn green waves-effect waves-light" href="{{ path('project_reopen', {'slug' : project.slug}) }}" title="Rouvrir le projet">
                                        <span><i class="fa fa-check-square-o fa"></i></span>
                                </a>
                            {% endif %}
                            <div class="right">
                                {{ project.likeProjects | length }} <i class="fa fa-heart red-text"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal revealProject">
                        <div class="card-title grey-text text-darken-4">
                            {{ project.title }} |  | {{ project.author.company.name }}
                            <i class="material-icons right">close</i>
                        </div>
                        <div class="row">
                            <div>
                                <a href="{{ path('UserProfil', { 'slug': project.author.slug }) }}">
                                    <div class="chip left">
                                        <img src="{{ project.author.photo }}" alt="Logo company"> <!-- notice the "circle" class -->
                                        <span class="black-text">{{ project.author }}</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                {% if project.status == 1 %}
                                    <div class="chip inProgress right">
                                        <span><i class="fa fa-clock-o"></i></span>
                                        <span>Attente</span>
                                    </div>
                                {% elseif project.status == 2 %}
                                    <div class="chip validate right">
                                        <span><i class="fa fa-clock-o"></i></span>
                                        <span>En cours</span>
                                    </div>
                                {% elseif project.status == 3 %}
                                    <div class="chip end right">
                                        <span><i class="fa fa-clock-o"></i></span>
                                        <span>Terminé</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <p>{{ project.presentation }}</p>
                        <p>{{ project.beneficeCompany }}</p>
                        <div class="footerReveal">
                            <div class="left">
                                <a href="{{ path('project_show', {'slug' : project.slug}) }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>
                            </div>
                            <div class="right">
                                {{ project.likeProjects | length }} <i class="fa fa-heart red-text"></i>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}