<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-peinture.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked valign-wrapper">
            <p class="card-title titleTheme">
                <span class="header white-text">Peinture</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-potager.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Jardinage</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-cuisine.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Cuisine</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-zen2.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Détente</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-humanitaire.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Humanitaire</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/happysens-musique.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Musique</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/happysens-tehatre.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Thêatre</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-cinema.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Cinéma</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-streetdance.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Danse</span>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6 l4">
    <div class="card horizontal pink darken-2">
        <div class="card-image">
            <img src="{{ asset('assets/images/theme225_150/happysens-sport.jpg') }}" class="img-responsive vignettesHome">
        </div>
        <div class="card-stacked">
            <p class="card-title titleTheme">
                <span class="header white-text">Sport</span>
            </p>
        </div>
    </div>
</div>