<div class="container">
    <div class="col s12 blocExplainEntreprise">
        <h3 class="center amber-text text-darken-2"> HappySens vous permet d’être acteur et force de proposition en matière de bonheur au travail</h3>
        <div class="row">
            <div class="containExplainEmploye col s10 offset-s1 l4 center" data-aos="zoom-in">
                <img src="{{ asset('assets/images/icone-collaborateur.png') }}" alt="">
                <p class="detailsExplainEmploye blue-text text-darken-3">Qui mieux que vous peut savoir ce qui vous rend plus heureux ? Quelle passion, talent ou projet personnel avez-vous laissé de côté pour vous consacrer à votre carrière professionnelle ? Faut-il attendre d’être à la retraite pour s’épanouir et réaliser ses rêves ? </p>
            </div>

            <div class="containExplainEmploye col s10 offset-s1 l4 center" data-aos="zoom-in">
                <img src="{{ asset('assets/images/Icone-happycoach-pink.png') }}" alt="">
                <p class="detailsExplainEmploye blue-text text-darken-3">Pour en finir avec des solutions descendantes, éparses et peu ciblées, HappySens vous place au pilotage des projets bien-être et bonheur au travail.</p>
            </div>

            <div class="containExplainEmploye col s10 offset-s1 l4 center" data-aos="zoom-in">
                <img src="{{ asset('assets/images/icone-joiecollective-pink.png') }}" alt="">
                <p class="detailsExplainEmploye blue-text text-darken-3">Avec notre plateforme collaborative et notre programme d’accompagnement, le bonheur peut commencer dès aujourd’hui, dans votre entreprise et avec vos collègues.</p>
            </div>
        </div>

        <div class="containExplainEmploye center">
            <h5 class="titleExplainEmploye amber-text text-darken-3">Vous avez bien plus qu’un métier à partager !</h5>
        </div>
    </div>
</div>
<div class="detailsInfosEmploye">
    <div class="container blue-text text-darken-2" data-aos="fade-left">
        <span class="cardTitle">3 rôles possibles à investir via la plateforme et votre connexion privée :</span>
        <ul>
            <li>Happy project Manager :  Proposez un projet en rapport avec vos passions et talents personnels, fédérer une équipe et des supporters.</li>
            <li>Happy Coworker : Trouvez un projet en rapport avec vos passions et inscrivez-vous pour participer</li>
            <li>Happy Supporter : Likez le projet et supportez l’équipe projet</li>
        </ul>
    </div>
    <div class="center">
        <a href="{{ path('contact') }}" class="waves-effect waves-light btn pink darken-2 btnDemo">Demandez une démo</a>
    </div>
</div>
<div class="containerPicsEmploye">
    <div class="container">
        <h5 class="titleExplainEmploye">Vos talents cachés passions ont le pouvoir de créer du bonheur, libérez-les !</h5>
    </div>
    <div data-aos="fade-left">
        <img src="{{ asset('assets/images/talents-happysens.png') }}" alt="" class="responsive-img">
        <p class="typeExplainEmploye blue-text text-darken-2">Sportifs, musiciens, danseurs, peintres, écrivain, jongleurs, comédiens, chanteurs, dompteurs, scientifiques, historiens, …  </p>
    </div>
</div>
