<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white">
            <a href="{{ path('homepage') }}" class="brand-logo center"><img src="{{ asset('assets/images/logo.png') }}" alt="LOGO" width="90px" title="Acceuil"></a>
            <ul class="right">
                <li title="Créer un projet"><a href="{{ path('addProject') }}"><span class="linkNavSide"><i class="material-icons">add</i></span></a></li>
                <li title="Vos notifications">
                    <a class="dropdown-button linkNavSide"  style="display: flex;" href="#!" data-activates="dropdownNotif">
                        <i class="material-icons">notifications</i>
                    </a>
                    <ul id="dropdownNotif" class="dropdown-content notifications">
                        <li class=""><a class="grey-text text-darken-3" href="{{ path('listingNotifications') }}">@title.notification</a></li>
                        <li><a class="grey-text text-darken-3" href="{{ path('listingNotifications') }}">@title.notification</a></li>
                        <li class="divider"></li>
                        <li><a class="blue-text text-darken-2" href="{{ path('listingNotifications') }}">Voir toutes vos notifications</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="left">
                <li title="Menu accès rapide">
                    <a href="#" data-activates="slide-out" class="button linkNavSide ">
                        <div class="imgMenu">
                            <img class="circle responsive-img" src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="Vignette photo">
                            <span class="hide-on-small-only">@name.employe</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <a href="{{ path('profilEmploye') }}" title="Voir votre profil">
                            <div class="background blue darken-2">
                            </div>
                            <img class="circle" src="https://www.publicationsports.com/vProd/asset/image/component/ps/ps_single_login/user_logo.png">
                            <div>
                                <span class="white-text name">John Doe</span>
                                <span class="white-text email">jdandturk@gmail.com</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">tab</i>Tous les projets :</a></li>
                <li><a class="waves-effect" href="{{ path('addProject') }}"><i class="material-icons">create_new_folder</i>Nouveau projet</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_shared</i>Vos projets en cours</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder_special</i>Les projets suivis</a></li>
                <li><a class="waves-effect"><i class="material-icons">folder</i>Vos projets terminés</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">store</i>Entreprise :</a></li>
                <li><a class="waves-effect" href="{{ path('profilCompany') }}"><i class="material-icons">domain</i>@name.entreprise</a></li>
                <li><div class="divider"></div></li>

                <li><a class="subheader blue-text text-darken-2"><i class="material-icons blue-text text-darken-2">link</i>Liens pratiques :</a></li>
                <li><a class="waves-effect"><i class="material-icons">create</i>Modifier votre profil</a></li>
                <li><a href="https://happiness-time.fr/" target="_blank" class="waves-effect"><i class="material-icons">message</i>Blog</a></li>
                <li><a href="{{ path('homepage') }}" class="waves-effect"><i class="material-icons">home</i>Accueil</a></li>
                <li><a href="{{ path('contact') }}" class="waves-effect"><i class="material-icons">sms</i>Contact</a></li>
            </ul>
        </div>
    </nav>
</div>