
<div id="target">
    <nav>
        <div class="nav-wrapper light-blue-text">
            <a href="./" class="brand-logo"><span class="amber-text text-darken-2">HappySens</span></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="large material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="waves-effect waves-light"><a href="{{ path('homepage') }}"><span class="linkNav"><i class="material-icons left">home</i>Accueil</span></a></li>
                <li class="waves-effect waves-light"><a href="{{ path('company') }}"><span class="linkNav"><i class="material-icons left">business</i>Entreprises</span></a></li>
                <li class="waves-effect waves-light"><a href="{{ path('employe') }}"><span class="linkNav"><i class="material-icons left">person_pin</i>Salariés</span></a></li>
                <li class="waves-effect waves-light"><a href="{{ path('happyCoach') }}"><span class="linkNav"><i class="material-icons left">group</i>Happy coachs</span></a></li>
                <li class="waves-effect waves-light"><a href="https://happiness-time.fr/" target="_blank"><span class="linkNav"><i class="material-icons left">comment</i>Blog</span></a></li>
                <li class="waves-effect waves-light"><a href="{{ path('contact') }}"><span class="waves-effect waves-light linkNav"><i class="material-icons left">mail</i>Contact</span></a></li>

                <li><a class="waves-effect waves-light linkNav enterIn" onclick="$('#modal1').modal('open');" title="Connectez vous à votre profil"><i class="material-icons left">exit_to_app</i>Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ path('homepage') }}"><span class="blue-text text-blue accent-3 linkNav">Accueil</span></a></li>
                <li><a href="{{ path('company') }}"><span class="blue-text text-blue accent-3 linkNav">Entreprise</span></a></li>
                <li><a href="{{ path('employe') }}"><span class="blue-text text-blue accent-3 linkNav">Employe</span></a></li>
                <li><a href="{{ path('happyCoach') }}"><span class="blue-text text-blue accent-3 linkNav">HappyCoach</span></a></li>
                <li><a href="https://happiness-time.fr/" target="_blank"><span class="blue-text accent-3 linkNav">Blog</span></a></li>
                <li><a href="{{ path('contact') }}"><span class="blue-text text-blue accent-3 linkNav">Contact</span></a></li>
                <li class="divider"></li>
                <li><a class="waves-effect waves-light btn light-blue darken-2" onclick="$('#modal1').modal('open');" title="Connectez vous à votre profil">Connexion<i class="material-icons right">person</i></a></li>
            </ul>
        </div>
    </nav>
</div>

