
                    <div class="col s12 PC_bProjectInProgress">
                        <div>
                            <h5 class="light-blue-text text-darken-2 center">les Happy Projets</h5>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s6 m4"><a href="#PC_ProjetAttente">En attente</a></li>
                                    <li class="tab col s6 m4"><a class="active" href="#PC_ProjetValidate">Validé</a></li>
                                    <li class="tab col s6 m4 disabled"><a href="#test3">Terminé</a></li>
                                </ul>
                            </div>
                <!--********************************** Project in progress****************************************-->
                            <div id="PC_ProjetAttente" class="col s12">
                                <div class="card medium">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="{{ asset('assets/images/happysens-musique.jpg') }}">
                                    </div>
                                    <div class="chip chipStatus inProgress">
                                        <span><i class="fa fa-clock-o"></i> </span>
                                        <span>En attente</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title activator grey-text text-darken-4">
                                            Organisation d'un concert
                                            <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                                        </div>
                                        <div>
                                            <a href="{{ path('profilEmploye') }}">
                                                <div class="chip">
                                                    <img src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a href="#!">15 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">
                                            Organisation d'un concert
                                            <i class="material-icons right">close</i>
                                        </span>
                                        <div class="row">
                                            <div>
                                                <a href="{{ path('profilEmploye') }}">
                                                    <div class="chip left">
                                                        <img src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                        <span class="black-text">@name.employe</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="chip inProgress right">
                                                <span><i class="fa fa-clock-o"></i> </span>
                                                <span>En attente</span>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis culpa enim est illo in molestiae officiis placeat praesentium, unde! Ad enim laborum magnam omnis pariatur possimus quia unde, voluptatibus?</p>
                                        <div class="right">
                                            <a href="#!">15 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card medium">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="{{ asset('assets/images/happysens-montagne.jpg') }}">
                                    </div>
                                    <div class="chip chipStatus inProgress">
                                        <span><i class="fa fa-clock-o"></i> </span>
                                        <span>En attente</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title activator grey-text text-darken-4">
                                            Ascension du mont-blanc
                                            <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                                        </div>
                                        <div>
                                            <a href="{{ path('profilEmploye') }}">
                                                <div class="chip">
                                                    <img src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a href="#!">15 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">
                                            Ascension du Mont-blanc
                                            <i class="material-icons right">close</i>
                                        </span>
                                        <div class="row">
                                            <div>
                                                <a href="{{ path('profilEmploye') }}">
                                                    <div class="chip left">
                                                        <img src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                        <span class="black-text">@name.employe</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="chip inProgress right">
                                                <span><i class="fa fa-clock-o"></i> </span>
                                                <span>En attente</span>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis culpa enim est illo in molestiae officiis placeat praesentium, unde! Ad enim laborum magnam omnis pariatur possimus quia unde, voluptatibus?</p>
                                        <div class="right">
                                            <a href="#!">15 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

     <!--********************************** Project Validé****************************************-->
                            <div id="PC_ProjetValidate" class="col s12">
                                <div class="card medium">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="{{ asset('assets/images/happysens-montagne.jpg') }}">
                                    </div>
                                    <div class="chip chipStatus end">
                                        <span><i class="fa fa-hourglass-o"></i></span>
                                        <span>Terminé</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title activator grey-text text-darken-4">
                                            Ascension du mont-blanc
                                            <p class="right blue-text text-darken-2 detailsProject"><i class="fa fa-plus-square"></i> details</p>
                                        </div>
                                        <div>
                                            <a href="{{ path('profilEmploye') }}">
                                                <div class="chip">
                                                    <img src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a href="#!">152 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">
                                            Titre du projet
                                            <i class="material-icons right">close</i>
                                        </span>
                                        <p>
                                            Here is some more information about this product that is only revealed
                                            once
                                            clicked on.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>





