{% extends 'baseIn.html.twig' %}

{% block content %}
    <h1>Companies list</h1>

    <table class="centered striped bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activity</th>
                <th>Name</th>
                <th>Nbsalary</th>
                <th>Birthdate</th>
                <th>Slogan</th>
                <th>Quality</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('CompanyProfil', { 'slug': company.slug }) }}">{{ company.slug }}</a></td>
                <td>{{ company.activity }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.nbSalary }}</td>
                <td>{% if company.birthdate %}{{ company.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ company.slogan }}</td>
                <td>{{ company.quality }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('CompanyProfil', { 'slug': company.slug }) }}">Profil</a>
                        </li>
                        <li>
                            <a href="{{ path('Company_edit', { 'slug': company.slug }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newCompany') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
