{% extends 'baseIn.html.twig' %}

{% block title %}Les résumés d'inscription{% endblock %}

{% block content %}
    <div class="container generalContainer">
        <div class="row">
            <h2 class="header title">Toutes les fiches d'inscriptions d'entreprise</h2>
        </div>
        <ul class="collapsible popout itemRecap" data-collapsible="accordion">
        {% for resume in allResume %}
            {% dump resume %}
            <li>
                <div class="collapsible-header headerRecapCompany active">
                    <div class="row valign-wrapper">
                        {% if resume.logo is defined %}
                            <img src="{{ asset('assets/images/placeholderCompany.png') }}" alt="profile image" height="70px" class="circle">
                        {% else %}
                            <img src="{{ asset('uploads/photoCompany/' ~ resume.logo) }}" alt="profile image" height="70px" class="circles">
                        {% endif %}
                        <div class="titleRecapCompany">
                            <h5 class="">{{ resume.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <a href="{{ path('resume_create_company', {'id': resume.id}) }}">
                        <button class="btn btnRecap"><i class="material-icons left">description</i>Résumé</button>
                    </a>
                    <a href="{{ path('CompanyProfil', {'slug': resume.slug}) }}">
                        <button class="btn"><i class="material-icons left">domain</i>Profil</button>
                    </a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

