{% extends 'baseIn.html.twig' %}

{% block content %}
    {{ include('partials/frame/loader.html.twig') }}
    <div class="container">
        <h1>Company creation</h1>
        <ul>
            <li>
                <a href="{{ path('listingCompany') }}">Toutes les entreprises</a>
            </li>
        </ul>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" onclick="loadingPage()" />
        {{ form_end(form) }}

    </div>
{% endblock %}
