{% extends 'baseIn.html.twig' %}
{% block javascripts %}
    <script>
        {% for key, user in fileUser %}
        $(document).ready(injectUser('{{ user.nom }}', '{{ user.prenom }}', '{{ user.email }}', {{ key }}, '{{ company.id }}'));
        {% endfor %}
        function injectUser(nom, prenom, email, key, idComp) {
            $.ajax({
                type: "POST",
                url: "/ajax/addUser/",
                data : {'nom' : nom, 'prenom' : prenom, 'email' : email, 'key' : key, 'idComp' : idComp},
                success: function (response) {
                    let users = JSON.parse(response.data);
                    console.log(users);
                    html = '<li class="collection-item avatar">' +
                        '<a href="/user/' + users.slug + '" class="black-text">' +
                        '<img src="/assets/images/placeholder.png" alt="" class="circle">' +
                        '<span class="title">' + users.nom + users.prenom + '</span>' +
                        '<p>' + users.email + '</p>' +
                        '</a>'+
                        '<p class="secondary-content black-text">Envoi mail : <i class="material-icons green-text">done</i></p>' +
                        '</li>';
                    counter = users.key;
                    $('#listCreatedUser').append(html);
                    $('#counter').html(counter);
                },
                error: function () {
                    console.log('bad');
                }
            })
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Récapitulatif de la création de {{ company.name }}</h2>
        <div class="row">
            <div class="col s12 l6">
                <h4>L'entreprise</h4>
                <section class="card sticky-action col s12">
                    <div class="logoCompany waves-effect waves-block waves-light center">
                        {% if company.logo is null %}
                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="activator circle responsive-img">
                        {% else %}
                            <img class="activator circle responsive-img" src="{{ asset('uploads/photoCompany/' ~ company.logo) }}" width="80px">
                        {% endif %}
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <a href="{{ path('CompanyProfil', { 'slug': company.slug }) }}" class="black-text">
                            <i class="material-icons right">more_vert</i>
                            <span class="truncate">{{ company.nbSalary }} | {{ company.activity }}
                            </span>
                        </a>
                    </span>
                        <div class="row">
                            <p class="left"><a href="{{ path('CompanyProfil', { 'slug': company.slug }) }}">Profil</a></p>
                            <p class="right"><a href="{{ path('Company_edit', { 'slug': company.slug }) }}">Modifier</a></p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col s12 l6">
            <h4>Création collaborateurs <span id="counter"></span> / {{ fileUser|length }} :</h4>
                <ul class="collection" id="listCreatedUser"></ul>
            </div>
        </div>
    </div>

{% endblock %}

