{% extends 'baseIn.html.twig' %}
{% block content %}
    <div class="container">
        <h2>Récapitulatif de la création de {{ company.name }}</h2>
        <div class="row">
            <h4>L'entreprise</h4>
            <div class="row">
                <section class="card sticky-action col s12 m6 l4">
                    <div class="logoCompany waves-effect waves-block waves-light center">
                        {% if company.logo is null %}
                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="activator circle responsive-img">
                        {% else %}
                            <img class="activator circle responsive-img" src="{{ asset('uploads/photoCompany/' ~ company.logo) }}" width="80px">
                        {% endif %}
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <a href="{{ path('CompanyProfil', { 'slug': company.slug }) }}" class="black-text">
                            <i class="material-icons right">more_vert</i>
                            <span class="truncate">{{ company.nbSalary }} | {{ company.activity }}
                            </span>
                        </a>
                    </span>
                        <div class="row">
                            <p class="left"><a href="{{ path('CompanyProfil', { 'slug': company.slug }) }}">Profil</a></p>
                            <p class="right"><a href="{{ path('Company_edit', { 'slug': company.slug }) }}">Modifier</a></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <h4>Création des {{ countUser }} collaborateurs suivants :</h4>
            <ul class="collection">
            {% for user in users %}
                <li class="collection-item avatar">
                    <a href="{{ path('UserProfil', { 'slug': user.slug }) }}" class="black-text">
                        <img src="{{ asset('assets/images/placeholder.png') }}" alt="" class="circle">
                        <span class="title">{{ user.firstname }} {{ user.lastname }}</span>
                        <p>{{ user.email }}</p>
                    </a>
                    <p class="secondary-content black-text">
                        Envoi mail :
                        {#{% if %}#}
                            {#<i class="material-icons green-text">done</i>#}
                        {#{% else %}#}
                            {#<i class="material-icons red-text">close</i>#}
                        {#{% endif %}#}
                    </p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
