{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block content %}
    <div id="contentCGV" class="parallax-container-others">
        <div class="section no-pad-bot">
            <div class="col s12">
                <div class="headerTitleOthers center" id="headerTitle">
                    <h1 class="header center pink-text text-darken-2">Conditions générales d'utilisation du site <a href="{{ path('homepage') }}">www.happysens.com</a></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container cgv">
                    <ul class="inline center">
                        <li><a href="#article1" class="scrollTo"><span class="linkCGV">Objet</span></a></li>
                        <li><a href="#article2" class="scrollTo"><span class="linkCGV">Mentions légales</span></a></li>
                        <li><a href="#article3" class="scrollTo"><span class="linkCGV">Définitions</span></a></li>
                        <li><a href="#article4" class="scrollTo"><span class="linkCGV">Accès aux services</span></a></li>
                        <li><a href="#article5" class="scrollTo"><span class="linkCGV">Propriété intellectuelle</span></a></li>
                        <li><a href="#article6" class="scrollTo"><span class="linkCGV">Données personnelles</span></a></li>
                        <br>
                        <li><a href="#article7" class="scrollTo"><span class="linkCGV">Responsabilité et force majeure</span></a></li>
                        <li><a href="#article8" class="scrollTo"><span class="linkCGV">Liens hypertextes</span></a></li>
                        <li><a href="#article9" class="scrollTo"><span class="linkCGV">Évolution du contrats</span></a></li>
                        <li><a href="#article10" class="scrollTo"><span class="linkCGV">Durée</span></a></li>
                        <br>
                        <li><a href="#article11" class="scrollTo"><span class="linkCGV">Droit applicable et juridiction compétente</span></a>
                        </li>
                        <li><a href="#article12" class="scrollTo"><span class="linkCGV">Publication par l’Utilisateur</span></a></li>
                        <li><a href="#article13" class="scrollTo"><span class="linkCGV">Cookies</span></a></li>
                    </ul>
    </div>

    <section class="cgv">
        <div class="container">
    <h2 id="article1">ARTICLE 1 : Objet</h2>
    <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique des modalités de mise
        à disposition des services du site <a href="{{ path('homepage') }}">www.happysens.com</a> et leur utilisation par « l'Utilisateur ».
    </p>
    <p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site.
        Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site par l’Utilisateur signifie son
        acceptation des présentes conditions générales d’utilisation.
    </p>
    <ul class="browser-default">
        <li> En cas de non-acceptation des conditions générales d'utilisation stipulées dans le présent contrat,
            l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.
        </li>
        <li> <a href="{{ path('homepage') }}">www.happysens.com</a> se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes
            conditions générales d'utilisation.
        </li>
    </ul>

    <h2 id="article2">ARTICLE 2 : Mentions légales</h2>
    <p>L'édition du site <a href="{{ path('homepage') }}">www.happysens.com</a> est assurée par la Société Philae Communication SARL au capital de 1000€ dont
        le siège social est situé au 7 rue Robert et Reynier Saint-Fons.</p>
    <p>La Directrice de la publication est Madame Laetitia Ferrer.</p>
    <p>L'hébergeur du site <a href="{{ path('homepage') }}">www.happysens.com</a> est la Société OVH SAS au capital de 10 059 000€ dont le siège social est
        situé 2 rue Kellermann – 59100 Roubaix – France.</p>

    <h2 id="article3">ARTICLE 3 : Définitions</h2>
    <p>La présente clause a pour objet de définir les différents termes essentiels du contrat :</p>
    <ul class="browser-default">
        <li>Utilisateur : ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le
            site.
        </li>
        <li>Contenu utilisateur : ce sont les données transmises par l'Utilisateur au sein du site.</li>
        <li>Membre : l'Utilisateur devient membre lorsqu'il est identifié sur le site.</li>
        <li>Identifiant et mot de passe : c'est l'ensemble des informations nécessaires à l'identification d'un
            Utilisateur sur le site. L'identifiant et le mot de passe permettent à l'Utilisateur d'accéder à des
            services réservés aux membres du site. Le mot de passe est confidentiel.
        </li>
    </ul>

    <h2 id="article4">ARTICLE 4 : Accès aux services </h2>
    <p>Le site permet à l'Utilisateur Membre un accès gratuit aux services suivants :</p>
    <ul class="browser-default">
        <li>Connexion sécurisée et accès à espace privé entreprise</li>
        <li>Consultation et Publication d’happy projets personnels</li>
        <li>Mise en relation avec communauté et partenaires Happy-Coach</li>
        <li>Publication de commentaires, votes et appréciations</li>
    </ul>
    <p>Le site est accessible à tout Utilisateur client d’HappySens ayant un accès à Internet. Tous les frais supportés
        par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa
        charge.</p>
    <p>L’Utilisateur non membre n'a pas accès aux services réservés aux membres. Il pourra accéder aux informations
        liées à la présentation du concept HappySens et au blog Happiness-time.</p>
    <p>Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services.
        L'obligation étant de moyens, le site ne s'engage pas à atteindre ce résultat.</p>
    <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur
        n'engage pas la responsabilité de <a href="{{ path('homepage') }}">www.happysens.com</a>.</p>
    <p>L'accès aux services du site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une
        modification sans préavis pour une maintenance ou pour tout autre cas. L'Utilisateur s'oblige à ne réclamer
        aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.</p>
    <p>L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse
        webmaster@happysens.com. </p>

    <h2 id="article5">ARTICLE 5 : Propriété intellectuelle</h2>
    <p>Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la
        propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
    <p>L'Utilisateur sollicite l'autorisation préalable du site pour toute reproduction, publication, copie des
        différents contenus.</p>
    <p>L'Utilisateur s'engage à une utilisation des contenus du site dans un cadre strictement privé. Une utilisation
        des contenus à des fins commerciales est strictement interdite.</p>
    <p>Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne pas
        mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice
        engagé par un tiers lésé contre le site sera pris en charge par l'Utilisateur. </p>
    <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme
        constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du
        Code de Propriété Intellectuelle. </p>
    <p>Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le
        site. L'Utilisateur ne reçoit aucune justification et notification préalablement à la suppression ou à la
        modification du contenu Utilisateur.</p>

    <h2 id="article6">ARTICLE 6 : Données personnelles</h2>
    <p>Les informations demandées à l’inscription au site sont nécessaires et obligatoires pour la création du compte de
        l'Utilisateur. En particulier, l'adresse électronique pourra être utilisée par le site pour l'administration, la
        gestion et l'animation du service.</p>
    <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la
        vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
        libertés. Le site est déclaré à la CNIL sous le numéro [numéro].</p>
    <p>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de
        rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via
        :</p>
    <ul class="browser-default">
        <li>son espace personnel ;</li>
        <li>un formulaire de contact ;</li>
        <li>par mail à webmaster@happysens.com ;</li>
        <li>par voie postale à Philae Communication - Happysens 7 rue Robert et Reynier 69 Saint-Fons.</li>
    </ul>

    <h2 id="article7">ARTICLE 7 : Responsabilité et force majeure</h2>
    <p>Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la
        faculté d'une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre
        purement informatif. Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations
        et contenus du présent site.</p>
    <p>L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa
        forme, est interdite.</p>
    <p>L'Utilisateur assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute
        responsabilité</p>
    <p>Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit
        faire l'objet d'une indemnisation au profit du site.</p>
    <p>Une garantie optimale de la sécurité et de la confidentialité des données transmises n'est pas assurée par le
        site. Toutefois, le site s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la
        sécurité et la confidentialité des données.</p>
    <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable
        d'un tiers.</p>

    <h2 id="article8">ARTICLE 8 : Liens hypertextes</h2>
    <p>De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens
        n'engagent en rien la responsabilité de <a href="{{ path('homepage') }}">www.happysens.com</a> qui n'a pas le contrôle de ces liens.</p>
    <p>L'Utilisateur s'interdit donc à engager la responsabilité du site concernant le contenu et les ressources
        relatives à ces liens hypertextes sortants.</p>

    <h2 id="article9">ARTICLE 9 : Évolution du contrat</h2>
    <p>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.</p>

    <h2 id="article10">ARTICLE 10 : Durée</h2>
    <p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter
        de l'utilisation du service.</p>

    <h2 id="article11">ARTICLE 11 : Droit applicable et juridiction compétente</h2>
    <p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né
        entre les parties, seuls les tribunaux du ressort de la Cour d'appel de Lyon sont compétents.</p>

    <h2 id="article12">ARTICLE 12 : Publication par l’Utilisateur</h2>
    <p>Le site permet aux membres de publier des commentaires / des projets, des visuels.</p>
    <p>Dans ses publications, ses changes avec les autres membres le membre s’engage à respecter les règles de la
        Netiquette et les règles de droit en vigueur.</p>
    <p>Le site exerce une modération a priori ou a posteriori sur les publications et se réserve le droit de refuser
        leur mise en ligne, sans avoir à s’en justifier auprès du membre.</p>
    <p>Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une
        publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter,
        reproduire, adapter, modifier sa publication.</p>
    <p>La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa
        publication.</p>

    <h2 id="article13">ARTICLE 13 : Cookies</h2>
    <p>Pour des besoins d’affichage et de statistique, <a href="{{ path('homepage') }}">www.happysens.com</a> utilise des cookies. <a href="{{ path('homepage') }}">www.happysens.com</a> s’engage
        à ne pas communiquer le contenu de ces «Cookies» à des tierces personnes, sauf et uniquement en cas de
        réquisition légale.</p>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/script/scrollTo.js') }}"></script>
{% endblock %}