{% extends 'base.html.twig' %}

{% block content %}
    <!--  Jumbotron  -->
    <div id="index-banner" class="parallax-container-home">
        <div class="section no-pad-bot">
            <div class="col s12">
                <div class="headerTitleHome center" id="headerTitle">
                    <h1 class="header center pink-text text-darken-2">Bienvenue sur Happy Sens</h1>
                    <div class="row">
                        <h5 class="header center white-text">Libérez les passions et donnez du sens au travail</h5>
                    </div>
                    <div id="goDown" class="goDown">
                        <a class="btn btn-floating btn-large pulse pink darken-2" href="#cardCategories"><i class="material-icons">expand_more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="generalContainer" id="cardCategories">
        <div class="valign-wrapper">
            <div class="row">
                <div class="col s12 l4">
                    <div class="card center hoverable" id="cardEmploye">
                        <div class="card-content white-text">
                            <span class="cardTitle">Employé</span>
                            <ul class="textCard">
                                <li>
                                    Libérez vos passions et pilotez le bonheur au travail dans votre entreprise. Reconnectez-vous à vos rêves et partagez -les avec vos collègues.                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('employe') }}"><span class="waves-effect waves-light btn blue-text text-darken-3 white">Je découvre HAPPY SENS</span></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card center hoverable" id="cardEntreprise">
                        <div class="card-content white-text">
                            <span class="cardTitle">Entreprise</span>
                            <ul class="textCard">
                                <li>
                                    Remobilisez, fidélisez, valorisez, responsabilisez vos salariés en déployant une expérience collaborateur inédite et inoubliable grâce à HappySens.                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('company') }}"><span class="waves-effect waves-light btn blue-text text-darken-3 white">Je découvre HAPPY SENS</span></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card center hoverable" id="cardHappy">
                        <div class="card-content white-text">
                            <span class="cardTitle">HappyCoach</span>
                            <ul class="textCard">
                                <li>
                                    Vos spécialités et expertises, inscrites durablement au service du bonheur en entreprise. Accompagnez des équipes passionnées dans la réalisation de leurs Projets.                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('happyCoach') }}"><span class="waves-effect waves-light btn blue-text text-darken-3 white">Je découvre HAPPY SENS</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="generalContainer" id="concept">
        <div class="row">
            <div class="container">
                <div class="bloc1">
                    <h3 class="center amber-text text-darken-2">Le bonheur au travail pour les salariés, porté par les salariés</h3>

                    <ul class="collapsible popout presentation" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header headerPresentation active"><i class="material-icons">filter_drama</i><b>HAPPY SENS renverse les codes </b></div>
                            <div class="collapsible-body"><span class="para1"><b>HAPPY SENS renverse les codes</b> et place les collaborateurs au cœur des projets bien-être et bonheur dans l’entreprise. Plutôt que de déployer des solutions « venant d’en haut » qui ne font pas toujours l’unanimité, la plateforme permet à chaque salarié d’être force de proposition et pleinement acteur de leur épanouissement au travail.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header headerPresentation"><i class="material-icons">place</i><b>Un audit « Passionnément Humain » </b></div>
                            <div class="collapsible-body"><span class="para1"><b>Un audit « Passionnément Humain » </b>est proposé avant chaque lancement pour avoir une cartographie des talents et passions des collaborateurs ainsi que leur ressenti (anonyme)</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header headerPresentation"><i class="material-icons">whatshot</i><b>Une réunion de lancement</b></div>
                            <div class="collapsible-body"><span class="para1"><b>Une réunion de lancement</b> pour présentation à l’ensemble des collaborateurs du concept, de la plateforme et un appel aux premiers projets.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header headerPresentation"><i class="material-icons">whatshot</i><b>Chaque salarié peut revêtir la casquette de Chief Happiness Officer</b></div>
                            <div class="collapsible-body"><span class="para1"><b>Chaque salarié peut revêtir la casquette de Chief Happiness Officer</b> et fédérer une équipe autour d’un projet qu’il a choisi ou imaginé.  Comédie musicale, Pièce de théâtre, Ascension du Mont-Blanc, Exposition de peintures ou encore Création d’un potager permaculture, … Tous les projets seront soumis au vote et à la validation d’un Happy Comité.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header headerPresentation"><i class="material-icons">whatshot</i><b>CHO, Supporter, Ambassadeur, libre à chacun de choisir son rôle</b></div>
                            <div class="collapsible-body"><span class="para1"><b>CHO, Supporter, Ambassadeur, libre à chacun de choisir son rôle</b> et de s’épanouir tout en s’investissant pour le collectif.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header headerPresentation"><i class="material-icons">whatshot</i><b>Un Happy Coach référent attribué à chaque projet</b></div>
                            <div class="collapsible-body"><span class="para1"><b>Un Happy Coach référent attribué à chaque projet</b>. La force d’HAPPY SENS c’est aussi la mise en relation entre Porteur de projet « bonheur » et Coach Expert. Un accompagnement sur-mesure déployé tout au long du processus pour permettre le succès du projet, un suivi continu par un Coach RH, Bien-être, expert Agile et autre spécialité spécifique et utile au projet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header headerPresentation"><i class="material-icons">whatshot</i><b>Une source riche et authentique de sujets de communication interne et externe à déployer en continu.</b></div>
                            <div class="collapsible-body"><span class="para1"><b>Une source riche et authentique de sujets de communication interne et externe à déployer en continu.</b> Au volontariat, création et animation d’un comité Ambassadeurs. Rédaction de contenu (animation d’un blog), Reportages internes, Vidéo (Web TV), Réseaux sociaux, …</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section id="howItWorks">
        {{ include('partials/components/schemaProcessus.html.twig')  }}
    </section>

    <section class="generalContainer" id="exampleProjectHome">
        <div class="col s12">
            <div class="center">
                <span class="cardTitle pink-text darken-2-text">Voici quelques idées de thémes pour vos Projets :</span>
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card horizontal pink darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ asset('assets/images/thémes/happysens-peinture.jpg') }}" class="img-responsive vignettesHome">
                            </div>
                            <div class="card-stacked">
                                <div class="card-title">
                                    <p class="header white-text">Arts</p>
                                </div>
                                <div class="card-action">
                                    <a href="" class="amber-text">Plus de détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card horizontal pink darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ asset('assets/images/thémes/happysens-sport.jpg') }}" class="img-responsive vignettesHome">
                            </div>
                            <div class="card-stacked">
                                <div class="card-title">
                                    <p class="header white-text">Sport</p>
                                </div>
                                <div class="card-action">
                                    <a href="" class="amber-text">Plus de détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card horizontal pink darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ asset('assets/images/thémes/happysens-cuisine.jpg') }}" class="img-responsive vignettesHome">
                            </div>
                            <div class="card-stacked">
                                <div class="card-title">
                                    <p class="header white-text">Cuisine</p>
                                </div>
                                <div class="card-action">
                                    <a href="" class="amber-text">Plus de détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card horizontal pink darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ asset('assets/images/thémes/happysens-potager.jpg') }}" class="img-responsive vignettesHome">
                            </div>
                            <div class="card-stacked">
                                <div class="card-title">
                                    <p class="header white-text">Nature</p>
                                </div>
                                <div class="card-action">
                                    <a href="" class="amber-text">Plus de détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card horizontal pink darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ asset('assets/images/thémes/happysens-zen2.jpg') }}" class="img-responsive vignettesHome">
                            </div>
                            <div class="card-stacked">
                                <div class="card-title">
                                    <p class="header white-text">Détente</p>
                                </div>
                                <div class="card-action">
                                    <a href="" class="amber-text">Plus de détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card horizontal pink darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ asset('assets/images/thémes/happysens-humanitaire.jpg') }}" class="img-responsive vignettesHome">
                            </div>
                            <div class="card-stacked">
                                <div class="card-title">
                                    <p class="header white-text">Humanitaire</p>
                                </div>
                                <div class="card-action">
                                    <a href="" class="amber-text">Plus de détails</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

