{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block content %}

    <div id="contentInscription" class="parallax-container-others">
        <div class="section no-pad-bot">
            <div class="col s12">
                <div class="headerTitleOthers container" id="headerTitle">
                    <h1 class="header amber-text text-darken-2">Inscription HappyCoach</h1>
                    <div class="row">
                        <h5 class="header white-text">Libérez les passions et donnez du sens au travail</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Prénom :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Nom :</h5>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.firstname) }}
                    <label for="firstname"><span class="requireInput">* </span>Votre Prénom</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.lastname) }}
                    <label for="lastname"><span class="requireInput">* </span>Votre Nom</label>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription pink-text text-darken-2">Adresse :</h5>
                </div>
                <div class="input-field col s12">
                    {{ form_widget(form.address) }}
                    <label for="adderss"><span class="requireInput">* </span>Votre adresse</label>
                </div>

                <div class="col s12">
                    <h5 class="titleInscription pink-text text-darken-2">Activité :</h5>
                </div>

                <div class="input-field col s12">
                    {{ form_widget(form.activity) }}
                    <label for="activity"><span class="requireInput">* </span>Votre activité</label>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Numéro  :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Email :</h5>
                </div>
                <div class="input-field col s6">
                    <i{{ form_widget(form.phone) }}
                    <label for="phone"><span class="requireInput">* </span>Votre numéro de téléphone</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.email) }}
                    <label for="email"><span class="requireInput">* </span>Votre email</label>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Mot de passe :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Confirmation :</h5>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.password) }}
                    <label for="password"><span class="requireInput">* </span>Mot de passe</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.confirmationPassword) }}
                    <label for="confirmationPassword"><span class="requireInput">* </span>Confirmation mot de passe</label>
                </div>
                <div class="col s12">
                    <p><span class="requireInput">* </span> Champs requis</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field right">
                    <a href="{{ path('profilEmploye') }}" class="btn waves-effect waves-light amber darken-2">
                        Valider
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
