{% extends 'base.html.twig' %}

{% block title %}@name.company{% endblock %}


{% block navbar %}
    {{ include('partials/components/navbarIn.html.twig') }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1">
        {#<div class="row">#}
        {#<h1 class="titleProfilEmploye header center light-blue-text text-darken-2">Le bonheur au travail commence par un projet qui fait sens !</h1>#}
        {#</div>#}
        <div class="row">
            <div class="card medium headerProfil">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ asset('assets/images/happysens-time.jpg') }}" height="300px">
                </div>
                <div class="card-profile-image">
                    <img src="http://philaecom.fr/wp-content/uploads/2016/10/philacomdigitalemini.png" alt="profile image" class="circle z-depth-3 activator">
                </div>
                <a class="btn-floating btn-large halfway-fab activator waves-effect waves-light pink darken-2 right"><i class="material material-icons">info_outline</i></a>

                <div class="card-content">
                    <div class="myInfosEmploye">
                        <div id="name">
                            <span class="card-title activator grey-text text-darken-4">@name.company</span>
                            <span>50 Happy salariés</span>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <h5 class="blue-text darken-2">
                        Philae
                        <i class="material-icons right black-text card-title">close</i>
                    </h5>
                    <div class="infoPersoEmploye">

                    </div>
                    <div class="col s12 m6 center-align">
                        <table>
                            <tbody>
                            <tr>
                                <th>Activité</th>
                                <td>Pharma</td>
                            </tr>
                            <tr>
                                <th>Effectif</th>
                                <td> 50 - 100</td>
                            </tr>
                            <tr>
                                <th>Date de création</th>
                                <td>01/01/2000</td>
                            </tr>
                            <tr>
                                <th>Lieu des sites</th>
                                <td>Lyon -France</td>
                            </tr>
                            <tr>
                                <th>Référent Happy Sens</th>
                                <td><a href="{{ path('profilHappyCoach') }}">Voir le profil</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# For desktop #}
        {{ include('partials/components/largeProfilCompany.html.twig') }}
        {# For mobile and tablet #}
        {{ include('partials/components/mobileProfilCompany.html.twig') }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/script/showAllSalary.js') }}"></script>
{% endblock %}
