{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block navbar %}
    {{ include('partials/components/navbarIn.html.twig') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m10 offset-m1">
        {#<div class="row">#}
            {#<h1 class="titleProfilEmploye header center light-blue-text text-darken-2">Le bonheur au travail commence par un projet qui fait sens !</h1>#}
        {#</div>#}
            {# header #}
            <div class="row">
                <div class="card medium headerProfil">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ asset('assets/images/happysens-time.jpg') }}" height="300px">
                    </div>
                    <div class="mini-company col s12">
                        <a href="{{ path('profilCompany') }}">
                            <div class="chip    ">
                                <img src="http://logok.org/wp-content/uploads/2014/03/Nike-logo-+-wordmark.png" alt="Logo company"> <!-- notice the "circle" class -->
                                <span>@name.company</span>
                            </div>
                        </a>
                    </div>
                    <div class="card-profile-image">
                        <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="profile image" class="circle z-depth-3 activator">
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s5 offset-s1 l4 center">
                                <span class="card-title activator grey-text text-darken-4">@name.employe</span>
                                <p>@poste.company</p>
                            </div>
                            <a class="btn-floating btn-large halfway-fab activator waves-effect waves-light amber darken-2 right"><i class="fa fa-user-circle-o"></i></a>
                            <div class="col s6 center">
                                <span class="card-title activator grey-text text-darken-4">@count.projects</span>
                                <p>Total projets</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <h5 class="amber-text">
                                John Doe
                                <i class="material-icons right black-text card-title">close</i>
                            </h5>
                        <div class="infoPersoEmploye">

                        </div>
                        <div class="col s12 l8 center-align">
                            <table class="infosEmploye">
                                <tbody>
                                    <tr>
                                        <th>Entreprise :</th>
                                        <td>HappySens</td>
                                    </tr>
                                    <tr>
                                        <th>Fonction :</th>
                                        <td>CEO</td>
                                    </tr>
                                    <tr>
                                        <th>Age :</th>
                                        <td>25 ans</td>
                                    </tr>
                                    <tr>
                                        <th>Lieu de travail :</th>
                                        <td>69002 Lyon</td>
                                    </tr>
                                    <tr>
                                        <th>Mail :</th>
                                        <td>example@example.com</td>
                                    </tr>
                                    <tr>
                                        <th>Tel :</th>
                                        <td>06 01 02 03 04 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# For mobile and tablet #}
            {{ include('partials/components/mobileProfilEmploye.html.twig') }}
            {# For desktop #}
            {{ include('partials/components/largeProfilEmploye.html.twig') }}
        </div>
    </div>
{% endblock %}

