{% extends 'base.html.twig' %}

{% block title %}HappyCoach{% endblock %}

{% block content %}
<!--  Jumbotron  -->
<div id="contentHappy" class="parallax-container-others">
    <div class="section">
        <div class="col s12">
            <div class="headerTitleOthers container" id="headerTitle">
                <div class="row">
                    <h1 class="header left pink-text text-darken-2">Une communauté de spécialistes au service du bonheur en entreprise</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="generalContainer" id="explainHappy">
    <div class="containExplainEmploye">
        <div class="containerIntroEntreprise container pink-text text-darken-2">
            <h3 class="titleSecond amber-text text-darken-2">Vous vous sentez Happy Coach dans l'âme ?</h3>
            <br>
            <h4 class="titleSecond">Tant mieux, des équipes vous attendent pour co-piloter avec eux le bonheur dans leur entreprise !</h4>
        </div>
    </div>
    <div class="container">
        <div class="col s12 m12 l12 blocExplainEmploye">
            <div class="row">
                <div class="containExplainEmploye col s10 offset-s1 l4 center" data-aos="zoom-in">
                    <i class="fa fa-bullseye fa-5x"></i>
                    <p class="detailsExplainEmploye blue-text text-darken-3">HappySens sélectionne des Coachs aux expertises
                        aussi variées que les enjeux, passions et talents des salariés. Bien-être, écologie, sport, musique,
                        peinture, histoire, littérature, théâtre, cuisine, …</p>
                </div>

                <div class="containExplainEmploye col s10 offset-s1 l4 center"  data-aos="zoom-in">
                    <i class="fa fa-child fa-5x"></i>
                    <p class="detailsExplainEmploye blue-text text-darken-3">Toutes les disciplines sont les bienvenues, pourvu
                        qu’elles rendent heureux ceux qui s’y accomplissent.</p>
                </div>

                <div class="containExplainEmploye col s10 offset-s1 l4 center" data-aos="zoom-in">
                    <i class="fa fa-handshake-o fa-5x"></i>
                    <p class="detailsExplainEmploye blue-text text-darken-3">Quand passions, talents et expertises se réunissent
                        autour d’un projet qui fait sens ça crée des rencontres passionnantes et créatives. Chaque Happy projet
                        est mené en entreprise sur des périodes allant de 6 à 12 mois ce qui représente un investissement
                        régulier, sur le long terme pour mener l’équipe à son objectif.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="detailsInfosHappy">
        <div class="container blue-text text-darken-2"  data-aos="fade-left">
            <span class="cardTitle">Être Happy Coach c’est un état d’esprit, une façon d’être</span>
            <ul>
                <li>En dehors de votre expertise, vous devez répondre à
                    des critères indispensables comme la capacité à accompagner, transmettre et à vous investir sur le long
                    terme avec votre équipe. Une connaissance du monde de l’entreprise est un atout certain tout comme votre
                    compréhension des enjeux « bien-être et bonheur » qui se jouent autour de votre mission.</li>

                <li>Votre candidature est modérée par HappySens et son
                    Happy comité qui vous soumettra alors une charte d’engagement en termes de valeurs, de confidentialité
                    et de déontologie.</li>

                <li>Une fois votre candidature validée, vous pourrez
                    vous connecter à la plateforme HappySens, créer votre compte et renseignez votre profil afin de
                    présenter vos spécialités et la façon dont elles peuvent être mises en œuvre dans le cadre d’un projet
                    collectif.</li>

                <li>Les salariés utilisateurs de la plateforme peuvent
                    consulter votre profil et le sélectionner ou laisser le choix à HappySens de lui désigner le Coach
                    référent le plus approprié à la thématique et l’objectif final. Dans certains cas, plusieurs spécialités
                    seront mobilisées sur un même projet, en plus du parcours bien-être qui lui est proposé en continu et en
                    parallèle. Si vous acceptez la mission, une fois rattaché à un projet, vous pourrez consulter les
                    profils de votre équipe et communiquer avec eux directement.</li>

                <li>Quoi qu’il en soit, HappySens valide
                    systématiquement la bonne adéquation « HappyCoachs-Équipe-Projet». Tout au long du projet et à chaque
                    étape charnière, HappySens sera à vos côtés et à votre écoute pour vous permettre d’accomplir avec
                    confort et succès votre mission.
                </li>
            </ul>
            <div class="center">
                <a href="{{ path('contact') }}" class="waves-effect waves-light btn center pink darken-2">
                    Je veux devenir HappyCoach
                </a>
            </div>
        </div>
    </div>
</section>
<section id="howItWorks">
        <div class="row">
            <div class="center">
                <div class="container">
                    <h3 class="title amber-text text-darken-2">Exemple de projet </h3>
                    <div class="row">
                        <ul class="cardContent">
                            <li class="card medium col s12 m6" data-aos="fade-right">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ asset('assets/images/happysens-streetdance.jpg') }}">
                                </div>
                                <div class="chip validate chipStatus">
                                    <span><i class="fa fa-clock-o"></i></span>
                                    <span>En cours</span>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="card-title activator grey-text text-darken-4">
                                            <p class="left">Cours de danse</p>
                                            <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="left">
                                            <a href="{{ path('login') }}">
                                                <div class="chip">
                                                    <img src="https://randomuser.me/api/portraits/med/men/23.jpg" alt="Logo"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a href="#!">25 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-reveal revealProject">
                                    <span class="card-title grey-text text-darken-4">
                                        Cours de danse
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <div class="row">
                                        <div>
                                            <a href="{{ path('login') }}">
                                                <div class="chip left">
                                                    <img src="https://randomuser.me/api/portraits/med/men/23.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div>
                                            <div class="chip validate right">
                                                <span><i class="fa fa-clock-o"></i></span>
                                                <span>En cours</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis culpa enim est illo in molestiae officiis placeat praesentium, unde! Ad enim laborum magnam omnis pariatur possimus quia unde, voluptatibus?
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum id illo laudantium non odit, placeat praesentium quaerat ratione voluptates. Adipisci corporis dolore dolores explicabo incidunt itaque labore natus veniam.</p>
                                    <div class="footerReveal">
                                        <div class="left">
                                            <a href="{{ path('login') }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>
                                        </div>
                                        <div class="right">
                                            <a href="#!" onclick="like()">45 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="card medium col s12 m6" data-aos="fade-left">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ asset('assets/images/happysens-cuisine.jpg') }}">
                                </div>
                                <div class="chip end chipStatus">
                                    <span><i class="fa fa-clock-o"></i></span>
                                    <span>Terminé</span>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="card-title activator grey-text text-darken-4">
                                            <p class="left">Cours de cuisine</p>
                                            <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="left">
                                            <a href="{{ path('login') }}">
                                                <div class="chip">
                                                    <img src="https://randomuser.me/api/portraits/med/women/22.jpg" alt="Logo"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a href="#!">25 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-reveal revealProject">
                                    <span class="card-title grey-text text-darken-4">
                                        Cours de cuisine
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <div class="row">
                                        <div>
                                            <a href="{{ path('login') }}">
                                                <div class="chip left">
                                                    <img src="https://randomuser.me/api/portraits/med/women/22.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                                    <span class="black-text">@name.employe</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div>
                                            <div class="chip end right">
                                                <span><i class="fa fa-clock-o"></i></span>
                                                <span>En cours</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis culpa enim est illo in molestiae officiis placeat praesentium, unde! Ad enim laborum magnam omnis pariatur possimus quia unde, voluptatibus?
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum id illo laudantium non odit, placeat praesentium quaerat ratione voluptates. Adipisci corporis dolore dolores explicabo incidunt itaque labore natus veniam.</p>
                                    <div class="footerReveal">
                                        <div class="left">
                                            <a href="{{ path('login') }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>
                                        </div>
                                        <div class="right">
                                            <a href="#!" onclick="like()">45 <i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}