{% extends 'base.html.twig' %}

{% block content %}
    <!--  Jumbotron  -->
    <div id="index-banner" class="parallax-container-home">
        <div class="section no-pad-bot">
            <div class="col s12">
                <div class="headerTitleHome center" id="headerTitle">
                    <h1 class="header center white-text text-darken-2">Bienvenue sur <br><img src="{{ asset('assets/images/logo.png') }}" alt="" id="logoHeader"></h1>
                    <div class="row">
                        <h5 class="header center white-text">Libérez les passions et donnez du sens au travail !</h5>
                    </div>
                    <div id="goDown" class="goDown">
                        {#<a href="#concept" class="enterIn blue darken-2 waves-effect waves-light btn hoverable">Découvrez HappySens</a>#}
                        <div id="scrollBottom" class="demo">
                            <a href="#concept"><span></span>Découvrez HappySens</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="generalContainer" id="concept">
        <div class="blocExplainEntreprise container">
            <h3 class="title center amber-text text-darken-2">Le bonheur au travail pour les salariés,<br> porté par les salariés</h3>
            <div class="row">
                <div class="col s12 l6 containExplainEntreprise" data-aos="fade-right">
                    <p class="detailsExplainEntreprise blue-text text-darken-3"><b>HAPPY SENS renverse les codes</b>
                        et place les collaborateurs au cœur des projets bien-être et bonheur dans l’entreprise. Plutôt que de déployer des solutions « venant d’en haut » qui ne font pas toujours l’unanimité, la plateforme permet à chaque salarié d’être force de proposition et pleinement acteur de son épanouissement au travail.</p>
                </div>
                <div class="col s12 l6 containExplainEntreprise" data-aos="fade-left">
                    <p class="detailsExplainEntreprise blue-text text-darken-3"><b>Chaque salarié peut revêtir la casquette de Chief Happiness Officer</b>
                        et fédérer une équipe autour d’un projet qu’il a choisi ou imaginé. <b> Comédie musicale, Pièce de théâtre, Ascension du Mont-Blanc, Exposition de peintures ou encore Création d’un potager permaculture, … </b>.Tous les projets seront soumis au vote et à la validation d’un Happy Comité.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="containerPicsHome changeBg1">
        <div class="container">
            <h5 class="titleExplainEmploye">Les talents cachés et passions de chacun ont le pouvoir de fédérer et de créer du bonheur collectif, libérons-les !</h5>
        </div>
        <div data-aos="fade-left">
            <img src="{{ asset('assets/images/talents-happysens.png') }}" alt="" class="responsive-img">
        </div>
    </div>

    <section class="generalContainer yellow darken-2">
        <div class="container">
            <div class="blocExplainIndex">
                <h3 class="center pink-text text-darken-2"> HappySens, Une fabrique du bonheur au travail en continu</h3>
                <h5 class="center">
                    <b>Chief Happiness Officer, Supporter, Ambassadeur, libre à chacun de choisir son rôle</b> et de s’épanouir tout en s’investissant pour le collectif.
                </h5>
                <ul class="row">
                    <li class="containExplainIndex col s10 offset-s1 l6 center" data-aos="zoom-in">
                        <i class="ionicons ion-android-contacts large"></i>
                        <p class="detailsExplainIndex">Une plateforme collaborative de pilotage de projet et de mise en relation avec des prestataires experts</p>
                    </li>
                    <li class="containExplainIndex col s10 offset-s1 l6 center" data-aos="zoom-in">
                        <i class="fa fa-calendar large"></i>
                        <p class="detailsExplainIndex">Un encadrement et un suivi de projet sur 6 ou 12 mois </p>
                    </li>
                </ul>
                <ul class="row">
                    <li class="containExplainIndex col s10 offset-s1 l6 center" data-aos="zoom-in">
                        <i class="fa fa-newspaper-o large"></i>
                        <p class="detailsExplainIndex">Un programme de communication interne et externe en continue</p>
                    </li>
                    <li class="containExplainIndex col s10 offset-s1 l6 center" data-aos="zoom-in">
                        <i class="ionicons ion-trophy large"></i>
                        <p class="detailsExplainIndex">Un évènement de fin de projet pour une célébration collective</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="howItWorks" class="generalContainer">
        {{ include('partials/components/schemaProcessus.html.twig')  }}
    </section>

    <section class="generalContainer changeBg2" id="exampleProjectHome">
        <div class="container">
            <div class="center" data-aos="zoom-in-down">
                <h3 class="title amber-text text-darken-3">Exemples de thèmes pour vos projet :</h3>
                <div class="row">
                    {{ include('partials/components/allThemesIndex.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <section class="generalContainer" id="cardCategories">
        <div class="valign-wrapper">
            <div class="row">
                <div class="col s12 l4">
                    <div class="card center hoverable" id="cardEntreprise" data-aos="zoom-in-down">
                        <div class="card-content">
                            <div class="bgCardsIndex">
                                <span class="cardTitle white-text">Entreprise</span>
                                <div class="textCard">
                                    <p>Remobilisez, fidélisez, valorisez, responsabilisez vos salariés en déployant une expérience collaborateur inédite et inoubliable grâce à HappySens.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('company') }}"><span class="waves-effect waves-light btn blue-text text-darken-3 white">Détails</span></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card center hoverable" id="cardEmploye" data-aos="zoom-in-down">
                        <div class="card-content">
                            <div class="bgCardsIndex">
                                <span class="cardTitle white-text">Collaborateur</span>
                                <div class="textCard">
                                    <p>Libérez vos passions et pilotez le bonheur au travail dans votre entreprise. Reconnectez-vous à vos rêves et partagez -les avec vos collègues.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('collaborators') }}"><span class="waves-effect waves-light btn blue-text text-darken-3 white">Détails</span></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card center hoverable" id="cardHappy"  data-aos="zoom-in-down">
                        <div class="card-content">
                            <div class="bgCardsIndex">
                                <span class="cardTitle white-text">HappyCoach</span>
                                <div class="textCard">
                                    <p>Vos spécialités et expertises, inscrites au service du bonheur en entreprise. Accompagnez des équipes passionnées dans la réalisation de leurs Projets.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('happyCoach') }}"><span class="waves-effect waves-light btn blue-text text-darken-3 white">Détails</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



