<div class="PC_bProjectInProgress">
    <div class="hideMobile">
        <h4 class="center titleSecond">Les Happy Projets</h4>
    </div>
    <!--********************************** Project Author****************************************-->
    <div class="containerListingProject">
        <h5 class="titleSecond center">Les projets créés :</h5>
        {% if projectsAuthor is not empty %}
            {% for project in projectsAuthor %}
                {{ include ('project/cardProjectAllProfilUser.html.twig') }}
            {% endfor %}
        {% else %}
            {% if app.user.slug == user.slug %}
                <div class="withoutProject">
                    <p>Vous n'avez pas encore créé de projet.</p>
                    <a href="{{ path('project_new') }}">
                        <button class="btn"><i class="material-icons left">note_add</i>Créer un projet</button>
                    </a>
                </div>
            {% else %}
                <div class="withoutProject">
                    <p>{{ user.firstname }} {{ user.lastname }} n'as pas encore créé de projet.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <!--********************************** Project Team***************************************-->
    <div id="ProjectTeam">
        <div class="containerListingProject">
            <h5 class="titleSecond center">Les projets rejoints :</h5>
            {% if projects is not empty %}
                {% for project in projects %}
                   {{ include ('project/cardProjectAllProfilUser.html.twig') }}
                {% endfor %}
            {% else %}
                <div class="withoutProject">
                    <p>
                        <i class="material-icons medium">group</i>
                        <br>
                        Aucun projet rejoint.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
