<div class="PC_bProjectInProgress">
    <div class="hideMobile">
        <h4 class="center titleSecond">Les Happy Projets</h4>
    </div>
    <!--********************************** Project Author****************************************-->
    <div class="containerListingProject">
        <h5 class="titleSecond center">Les projets créés :</h5>
        {% if user.authorProject %}
            <div id="AuthorProject">
                <div class="card medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ asset('uploads/photoProject/' ~ user.authorProject.photo) }}">
                    </div>
                    <div class="{{ statusTwig.class }} chipStatus">
                        <span><i class="fa fa-clock-o"></i></span>
                        <span> {{ statusTwig.text}}</span>
                    </div>
                    <div class="card-content">
                        <div class="card-title activator grey-text text-darken-4">
                            {{ user.authorProject.title }}
                            <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                        </div>
                        <div>
                            <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">
                                <div class="chip">
                                    {% if user.photo is null %}
                                        <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                                    {% else %}
                                        <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" class="circle responsive-img">
                                    {% endif %}
                                    <span class="black-text">{{ user.firstname }} {{ user.lastname }}</span>
                                </div>
                            </a>
                        </div>
                        <div class="right" id="likeProject">
                            {% if app.user.status != 4 %}
                                {% if app.user not in user.authorProject.likeProjects and app.user != user.authorProject.author %}
                                    <a onclick="newLikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                        <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart-o"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                        </p>
                                    </a>
                                {% elseif app.user != user.authorProject.author %}
                                    <a onclick="dislikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                        <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                        </p>
                                    </a>

                                {% else %}
                                    <a onclick="newLikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                        <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                        </p>
                                    </a>
                                {% endif %}
                            {% else %}
                                <p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i>
                                        {{ user.authorProject.likeProjects | length }}</span>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-reveal revealProject">
                <span class="card-title grey-text text-darken-4">
                    {{ user.authorProject.title }}
                    <i class="material-icons right">close</i>
                </span>
                        <div class="row">
                            <div>
                                <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">
                                    <div class="chip left">
                                        {% if user.photo is null %}
                                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                                        {% else %}
                                            <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="profile image" class="circle responsive-img">
                                        {% endif %}
                                        <span class="black-text">{{ user.firstname }} {{ user.lastname }}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="{{ statusTwig.class }} right">
                                <span><i class="fa fa-clock-o"></i></span>
                                <span>{{ statusTwig.text }}s</span>
                            </div>
                        </div>
                        <p>{{ user.authorProject.presentation }}</p>
                        <div class="footerReveal">
                            <div class="left">
                                <a href="{{ path('project_show', { 'slug': user.authorProject.slug }) }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>
                            </div>
                            <div class="right">
                                {% if app.user.status != 4 %}
                                    {% if app.user not in user.authorProject.likeProjects and app.user != user.authorProject.author %}
                                        <a onclick="newLikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                            <p class="black-text chip">
                                                <span class="red-text" id="likeProject"><i class="fa fa-heart-o"></i>
                                                    {{ user.authorProject.likeProjects | length }}
                                                </span>
                                            </p>
                                        </a>
                                    {% elseif app.user != user.authorProject.author %}
                                        <a onclick="dislikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                            <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                            </p>
                                        </a>

                                    {% else %}
                                        <a onclick="newLikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                            <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                            </p>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i>
                                            {{ user.authorProject.likeProjects | length }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% if app.user.slug == user.slug %}
                <div class="withoutProject">
                    <p>Vous n'avez pas encore créé de projet.</p>
                    <a href="{{ path('project_new') }}">
                        <button class="btn"><i class="material-icons left">note_add</i>Créer un projet</button>
                    </a>
                </div>
            {% else %}
                <div class="withoutProject">
                    <p>{{ user.firstname }} {{ user.lastname }} n'as pas encore créé de projet.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <!--********************************** Project Team***************************************-->
    <div id="ProjectTeam">
        <div class="containerListingProject">
            <h5 class="titleSecond center">Les projets rejoint :</h5>
            {% if projects is not empty %}
                {% for project in projects %}
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ asset('uploads/photoProject/' ~ user.authorProject.photo) }}">
                        </div>
                        <div class="{{ project.status.class }} chipStatus">
                            <span><i class="fa fa-clock-o"></i></span>
                            <span> {{ project.status.text }}</span>
                        </div>
                        <div class="card-content">
                            <div class="card-title activator grey-text text-darken-4">
                                {{ project.title }}
                                <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                            </div>
                            <div>
                                <a href="{{ path('UserProfil', { 'slug': project.author.slug }) }}">
                                    <div class="chip">
                                        {% if project.author.photo is null %}
                                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                                        {% else %}
                                            <img src="{{ asset('uploads/photoUser/' ~ project.author.photo) }}" alt="profile image" class="circle responsive-img">
                                        {% endif %}
                                        <span class="black-text">{{ project.author }}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="right">
                                {% if app.user.status != 4 %}
                                    {% if app.user not in user.authorProject.likeProjects and app.user != user.authorProject.author %}
                                        <a onclick="newLikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                            <p class="black-text chip">
                                                <span class="red-text" id="likeProject"><i class="fa fa-heart-o"></i>
                                                    {{ user.authorProject.likeProjects | length }}
                                                </span>
                                            </p>
                                        </a>
                                    {% elseif app.user != user.authorProject.author %}
                                        <a onclick="dislikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                            <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                            </p>
                                        </a>

                                    {% else %}
                                        <a onclick="newLikeProject({{ user.authorProject.id }}, '{{ user.authorProject.title }}')">
                                            <p class="black-text chip">
                                            <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                                {{ user.authorProject.likeProjects | length }}
                                            </span>
                                            </p>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i>
                                            {{ user.authorProject.likeProjects | length }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-reveal revealProject">
                            <span class="card-title grey-text text-darken-4">
                                {{ project.title }}
                                <i class="material-icons right">close</i>
                            </span>
                            <div class="row">
                                <div>
                                    <a href="{{ path('UserProfil', { 'slug': project.author.slug }) }}">
                                        <div class="chip left">
                                            {% if project.author.photo is null %}
                                                <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                                            {% else %}
                                                <img src="{{ asset('uploads/photoUser/' ~ project.author.photo) }}" alt="profile image" class="circle responsive-img">
                                            {% endif %}
                                            <span class="black-text">{{ project.author }}e</span>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="{{ project.status.class }} right">
                                        <span><i class="fa fa-clock-o"></i></span>
                                        <span>{{ project.status.text }}</span>
                                    </div>
                                </div>
                            </div>
                            <p>{{ project.presentation }}.</p>
                            <div class="footerReveal">
                                <div class="left">
                                    <a href="{{ path('project_show', { 'slug': project.slug }) }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>

                                </div>
                                <div class="right">
                                    <a href="#!" onclick="like()">{{ project.likeProjects|length }} <i class="fa fa-heart red-text"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="withoutProject">
                    <p>
                        <i class="material-icons medium">group</i>
                        <br>
                        Aucun projet rejoint.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
