<div class="PC_bProjectInProgress">
    <div class="hideMobile">
        <h5 class="center titleSecond">Les Happy Projets</h5>
    </div>
    <!--********************************** Project Author****************************************-->
    {% if user.authorProject %}
    <div id="AuthorProject">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ asset('uploads/photoProject/' ~ user.authorProject.photo) }}">
            </div>
            <div class="{{ statusTwig.class }} chipStatus">
                <span><i class="fa fa-clock-o"></i></span>
                <span> {{ statusTwig.text}}</span>
            </div>
            <div class="card-content">
                <div class="card-title activator grey-text text-darken-4">
                    {{ user.authorProject.title }}
                    <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                </div>
                <div>
                    <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">
                        <div class="chip">
                            <img src="{{ user.photo }}" alt="photo profil {{ user.firstname }} {{ user.lastname }}" class="circle">
                            <span class="black-text">{{ user.firstname }} {{ user.lastname }}</span>
                        </div>
                    </a>
                </div>
                <div class="right">
                    <a href="#!" onclick="like()">{{ user.authorProject.likeProjects|length }} <i class="fa fa-heart red-text"></i></a>
                </div>
            </div>
            <div class="card-reveal revealProject">
                <span class="card-title grey-text text-darken-4">
                    {{ user.authorProject.title }}
                    <i class="material-icons right">close</i>
                </span>
                <div class="row">
                    <div>
                        <a href="{{ path('UserProfil', { 'slug': user.slug }) }}">
                            <div class="chip left">
                                <img src="{{ user.photo }}" alt="photo profil {{ user.firstname }} {{ user.lastname }}" class="circle">
                                <span class="black-text">{{ user.firstname }} {{ user.lastname }}</span>
                            </div>
                        </a>
                    </div>
                    <div class="{{ statusTwig.class }} right">
                        <span><i class="fa fa-clock-o"></i></span>
                        <span>{{ statusTwig.text }}s</span>
                    </div>
                </div>
                <p>{{ user.authorProject.presentation }}</p>
                <div class="footerReveal">
                    <div class="left">
                        <a href="{{ path('project_show', { 'slug': user.authorProject.slug }) }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>
                    </div>
                    <div class="right">
                        <a href="#!" onclick="like()">{{ user.authorProject.likeProjects|length }} <i class="fa fa-heart red-text"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!--********************************** Project Team***************************************-->
    <div id="ProjectTeam">
        {% for project in projects %}
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ asset('assets/images/happysens-montagne.jpg') }}">
            </div>
            <div class="{{ project.status.class }} chipStatus">
                <span><i class="fa fa-clock-o"></i></span>
                <span> {{ project.status.text }}</span>
            </div>
            <div class="card-content">
                <div class="card-title activator grey-text text-darken-4">
                    {{ project.title }}
                    <p class="right blue-text text-darken-2 detailsProject activator"><i class="fa fa-plus-square"></i> details</p>
                </div>
                <div>
                    <a href="{{ path('UserProfil', { 'slug': project.author.slug }) }}">
                        <div class="chip">
                            <img src="{{project.author.photo  }}" alt="photo profil {{ project.author }}"> <!-- notice the "circle" class -->
                            <span class="black-text">{{ project.author }}</span>
                        </div>
                    </a>
                </div>
                <div class="right">
                    <a href="#!" onclick="like()">{{ project.likeProjects|length }} <i class="fa fa-heart red-text"></i></a>
                </div>
            </div>
            <div class="card-reveal revealProject">
                <span class="card-title grey-text text-darken-4">
                    {{ project.title }}
                    <i class="material-icons right">close</i>
                </span>
                <div class="row">
                    <div>
                        <a href="{{ path('UserProfil', { 'slug': project.author.slug }) }}">
                            <div class="chip left">
                                <img src="{{project.author.photo  }}" alt="photo profil {{ project.author }}"> <!-- notice the "circle" class -->
                                <span class="black-text">{{ project.author }}e</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="{{ project.status.class }} right">
                            <span><i class="fa fa-clock-o"></i></span>
                            <span>{{ project.status.text }}</span>
                        </div>
                    </div>
                </div>
                <p>{{ project.presentation }}.</p>
                <div class="footerReveal">
                    <div class="left">
                        <a href="{{ path('project_show', { 'slug': project.slug }) }}"><i class="fa fa-file"> </i> Voir la fiche du projet</a>

                    </div>
                    <div class="right">
                        <a href="#!" onclick="like()">{{ project.likeProjects|length }} <i class="fa fa-heart red-text"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>