{% extends 'baseIn.html.twig' %}

{% block title %}Editer le projet {{ project.title }}{% endblock %}

{% block content %}

<h1 class="center">Editer le projet : {{ project.title }}</h1>

<section class="createProjet generalContainer">
    <div class="container">
        <nav class="wrapper row">
            <ul class="center bread">
                <li class="active userCompany" id="breadOne" onclick="goStep1()"><a href="#">Titre Projet</a></li>
                <li class="userCompany" id="breadTwo" onclick="goStep2()"><a href="#">Informations Projet</a></li>
            </ul>
        </nav>
        {{ form_start(edit_form) }}
        <div class="row">
            {#step#}
            <div id="step1">
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Nom :</h5>

                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.title))  %}
                            {{ form_widget(edit_form.title, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.title) }}
                        {% endif %}
                        <label for="project_name"><span class="requireInput">* </span>Nom de votre projet</label>
                        <div class="center error">
                            {{ form_errors(edit_form.title) }}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Thème :</h5>
                    <div class="input-field col s12">
                        <span class="requireInput">* </span>
                        {% if (form_errors(edit_form.theme))  %}
                            {{ form_widget(edit_form.theme, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.theme) }}
                        {% endif %}
                        <label for="theme"></label>
                        <div class="center error">
                            {{ form_errors(edit_form.theme) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <h5 class="titleInscription blue-text text-darken-3">Date de fin du projet:</h5>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.endDate))  %}
                            {{ form_widget(edit_form.endDate, {'attr': {'class': 'datepicker error'}}) }}
                        {% else %}
                             <div class="col s3">
                            {{ form_widget(edit_form.endDate.year) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(edit_form.endDate.month ) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(edit_form.endDate.day) }}
                        </div>
                        {% endif %}
                        <label for="end_date"><span class="requireInput">* </span></label>
                        <div class="center error">
                            {{ form_errors(edit_form.endDate) }}
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <h5 class="titleInscription blue-text text-darken-3">Lieu :</h5>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.location))  %}
                            {{ form_widget(edit_form.location, {'attr': {'class': 'error'}}) }}
                        {% else %}
                            {{ form_widget(edit_form.location) }}
                        {% endif %}
                        <label for="location"><span class="requireInput">* </span>Lieu de votre projet</label>
                        <div class="center error">
                            {{ form_errors(edit_form.location) }}
                        </div>
                    </div>
                </div>
                <div class="center">
                    <a class="waves-effect waves-light btn amber darken-3" onclick="goStep2()">suivant</a>
                </div>
            </div>
            {#step#}
            <div id="step2" class="hide">

                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Langues :</h5>
                    <div class="input-field col s12">
                        <span class="requireInput">* </span>
                        <label for="language"></label>
                        {{ form_widget(edit_form.languagesProject) }}
                    </div>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Présentation du projet :</h5>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.presentation))  %}
                            {{ form_widget(edit_form.presentation, { 'attr': {'class': 'materialize-textarea error'} }) }}
                        {% else %}
                            {{ form_widget(edit_form.presentation, { 'attr': {'class': 'materialize-textarea'} }) }}
                        {% endif %}
                        <label for="description"><span class="requireInput">* </span>Ecrire votre présentation du
                            projet</label>
                        <div class="center error">
                            {{ form_errors(edit_form.presentation) }}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Les Avantages :</h5>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.beneficeCompany))  %}
                            {{ form_widget(edit_form.beneficeCompany, { 'attr': {'class': 'materialize-textarea error'} }) }}
                        {% else %}
                            {{ form_widget(edit_form.beneficeCompany, { 'attr': {'class': 'materialize-textarea'} }) }}
                        {% endif %}
                        <label for="advantagesCompany"><span class="requireInput">* </span>3 avantages pour votre
                            employeur</label>
                        <div class="center error">
                            {{ form_errors(edit_form.beneficeCompany) }}
                        </div>
                    </div>
                    <div class="input-field col s12">
                        {% if (form_errors(edit_form.profit))  %}
                            {{ form_widget(edit_form.profit, { 'attr': {'class': 'materialize-textarea error'} }) }}
                        {% else %}
                            {{ form_widget(edit_form.profit, { 'attr': {'class': 'materialize-textarea'} }) }}
                        {% endif %}
                        <label for="advantagesGroup"><span class="requireInput">* </span>3 avantages pour le groupe de
                            votre projet</label>
                        <div class="center error">
                            {{ form_errors(edit_form.profit) }}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription blue-text text-darken-3">Photo :</h5>
                         {% if (form_errors(edit_form.photo))  %}
                            {{ form_widget(edit_form.photo, { 'attr': {'class': 'materialize-textarea error'} }) }}
                        {% else %}
                            {{ form_widget(edit_form.photo, { 'attr': {'class': 'materialize-textarea'} }) }}
                        {% endif %}
                        <div class="center error">
                            {{ form_errors(edit_form.photo) }}
                        </div>
                </div>
                {#<div class="file-field input-field col s12 m6">#}
                {#<div class="btn blue darken-3">Image#}
                {#<input type="file">#}
                {#</div>#}
                {#<label for="image_project"></label>#}
                {#{{ form_widget(form.photo, { 'attr': {'class': 'file-path-wrapper'} }) }}#}
                {#</div>#}
                <div class="col s12">
                    <div class="center">
                        <a class="waves-effect waves-light btn blue darken-3" onclick="goStep1()">retour</a>
                        <a class="waves-effect waves-light btn amber darken-2"><input type="submit" value="Envoyer" /></a>
                        {#<a href="{{ path('viewProject') }}" type="submit" class="waves-effect waves-light btn amber darken-2">Envoyer</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            {#<a href="{{ path('project_index') }}">Back to the list</a>#}
        </li>
{#        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>#}
    </ul>
{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/script/stepForm.js') }}"></script>
    {% endblock %}