{% extends 'base.html.twig' %}

{% block content %}
    <h1>Projects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Startingdate</th>
                <th>Enddate</th>
                <th>Presentation</th>
                <th>Profit</th>
                <th>Beneficecompany</th>
                <th>Author</th>
                <th>Actions</th>
                <th>Status</th>
                <th>Photo</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.title }}</td>
                <td>{% if project.startingDate %}{{ project.startingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.endDate %}{{ project.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ project.presentation }}</td>
                <td>{{ project.profit }}</td>
                <td>{{ project.beneficeCompany }}</td>
                <td>{{ project.author }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.photo }}</td>
                <td>{{ project.location }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
