<div class="row hide-on-med-and-down show-on-large">
    <section class="blocDetailsProject">
        <div class="col s12 l4">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item avatar" id="userProject">
                        <a href="{{ path('UserProfil', {'slug' : project.author.slug }) }}">
                        <img src="{{ project.author.photo }}" alt="photo du créateur du projet" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">Créé par : </span>
                                <p>{{ project.author }}</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons amber-text text-darken-2">person</i></p>
                        </a>
                    </li>
                    {% if  project.happyCoach%}
                        <li class="collection-item avatar">
                            <a href="{{ path('profilHappyCoach', {'slug' : project.happyCoach.slug }) }}">
                                <img src="{{ project.happyCoach.photo }}" alt="photo de l'HappyCoach référent" class="circle">
                                <div class="black-text">
                                    <span class="titleSecond">HappyCoach référent :</span>
                                    <p>{{ project.happyCoach }}</p>
                                </div>
                                <p class="secondary-content"><i class="material-icons pink-text text-darken-2">group</i></p>
                            </a>
                        </li>
                    {% else %}
                        <li class="collection-item avatar">
                            <img src="{{ asset('assets/images/placeholder.png') }}" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">HappyCoach référent :</span>
                                <p>Pas encore designé</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons pink-text text-darken-2">group</i></p>
                        </li>
                    {% endif%}
                    <li class="collection-item avatar">
                        <a href="{{ path('CompanyProfil', {'slug' : project.author.company.slug })}}">
                            <img src="{{ project.author.company.logo }}" alt="logo de l'entreprise" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">Entreprise :</span>
                                <p>{{ project.author.company.name }}</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons blue-text text-darken-2">domain</i></p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Langues</p>
                            <div class="col s12">
                                <p> {% for language in  project.languagesProject%}
                                {{ language}}
                                    {% endfor %} </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Thème</p>
                            <p class="col l12 titleSecond">{{ project.theme.nameSkill }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="blocExplainProject">
        <div class="col s12 l8">
            <div class="row">
                <div class="right">
                    {% if user != project.author %}
                        {% if app.user.status != 4 %}
                            {% if app.user not in project.teamProject %}
                                <a href="{{ path('join_team', {"slug": project.slug}) }}" onclick="joinProject()"
                                   class="btn waves-effect waves-light personPlus" type="submit" name="action">Rejoindre
                                    <i class="material-icons right">person_add</i>
                                </a>
                            {% else %}
                                <a href="{{ path('quit_team', {"slug": project.slug}) }}" onclick="joinProject()"
                                   class="btn waves-effect waves-light personPlus" type="submit" name="action">Quitter
                                    <i class="material-icons right">cancel</i>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a href="{{ path('project_edit', {"slug": project.slug}) }}" class="btn waves-effect waves-light personPlus"
                           type="submit" name="action">Modifier
                            <i class="material-icons right">create</i>
                        </a>
                    {% endif %}
                </div>
                <div class="dateProject left">
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-calendar-check-o"></i></span> {{ project.startingDate|date('Y-m-d') }}</p>
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-calendar-times-o"></i></span> {{ project.endDate|date('Y-m-d') }}</p>
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-map-marker"></i></span> {{ project.location }}</p>
                    {% if app.user.status != 4 %}
                        {% if app.user not in project.likeProjects and app.user != project.author %}
                            <a onclick="newLikeProject({{ project.id }}, '{{ project.title }}')">
                                <p class="black-text chip">
                                <span class="red-text" id="likeProject"><i class="fa fa-heart-o"></i>
                                    {{ project.likeProjects | length }}
                                </span>
                                </p>
                            </a>
                        {% elseif app.user != project.author %}
                            <a onclick="dislikeProject({{ project.id }}, '{{ project.title }}')">
                                <p class="black-text chip">
                                <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                    {{ project.likeProjects | length }}
                                </span>
                                </p>
                            </a>

                        {% else %}
                            <a onclick="newLikeProject({{ project.id }}, '{{ project.title }}')">
                                <p class="black-text chip">
                                <span class="red-text" id="likeProject"><i class="fa fa-heart"></i>
                                    {{ project.likeProjects | length }}
                                </span>
                                </p>
                            </a>
                        {% endif %}
                    {% else %}
                        <p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i>
                                {{ project.likeProjects | length }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="containList">
                <h5 class="titleSecond amber-text text-darken-2">Equipe :</h5>
                <ul class="inline-team-list">
                   {{ include('project/projectTeam.html.twig') }}
                </ul>
            </div>
            <div class="row">
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Présentation :</h5>
                    <p>{{ project.presentation }}</p>
                </div>
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Bénéfices collectifs :</h5>
                    <p>{{ project.profit }}</p>
                </div>
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Bénéfices pour l'employeur :</h5>
                    <p>{{ project.beneficeCompany }}</p>
                </div>
            </div>
        </div>
    </section>
</div>