<div class="row hide-on-med-and-down show-on-large">
    <section class="blocDetailsProject">
        <div class="col s12 l4">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item avatar" id="userProject">
                        <a href="{{ path('UserProfil', {'slug' : project.author.slug }) }}">
                        <img src="{{ project.author.photo }}" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">Créer par : </span>
                                <p>{{ project.author }}</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons amber-text text-darken-2">person</i></p>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <a href="{{ path('profilHappyCoach') }}">
                            <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">HappyCoach référent :</span>
                                <p>@name.happyCoach</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons pink-text text-darken-2">group</i></p>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <a href="/company/{{ project.author.company.slug }}">
                            <img src="{{ project.author.company.logo }}" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">Entreprise :</span>
                                <p>{{ project.author.company.name }}</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons blue-text text-darken-2">domain</i></p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Langues</p>
                            <div class="col s12">
                                <p> {% for language in  project.languagesProject%}
                                {{ language}}
                                    {% endfor %} </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Thème</p>
                            <p class="col l12 titleSecond">{{ project.theme.nameSkill }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="blocExplainProject">
        <div class="col s12 l8">
            <div class="row">
                <div class="right">
                    {% if app.user not in project.teamProject %}
                        <a href="{{ path('join_team', {"slug": project.slug}) }}" onclick="joinProject()"  class="btn waves-effect waves-light personPlus" type="submit" name="action">Rejoindre
                            <i class="material-icons right">person_add</i>
                        </a>
                    {% else %}
                        <a href="{{ path('quit_team', {"slug": project.slug}) }}" onclick="joinProject()"  class="btn waves-effect waves-light personPlus" type="submit" name="action">Quitter
                            <i class="material-icons right">cancel</i>
                        </a>
                    {% endif %}
                </div>
                <div class="dateProject left">
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-calendar-check-o"></i></span> {{ project.startingDate|date('Y-m-d') }}</p>
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-calendar-times-o"></i></span> {{ project.endDate|date('Y-m-d') }}</p>
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-map-marker"></i></span> {{ project.location }}</p>

                    {% if app.user not in project.likeProjects %}
                        <a href="{{ path('like_project', {'slug': project.slug}) }}" onclick="like()"><p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i></span> {{ nbLike }}</p></a>
                    {% else %}
                        <a href="{{ path('unlike_project', {'slug': project.slug}) }}"><p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i></span> {{ nbLike }}</p></a>
                    {% endif %}

                </div>
            </div>
            <div class="containList">
                <h5 class="titleSecond amber-text text-darken-2">Equipe :</h5>
                <ul class="inline-team-list">
                    {% if project.teamProject is not empty %}
                        {% for user in project.teamProject %}
                            <li>
                                <a href="{{ path('UserProfil', {'slug' : user.slug })}}">
                                    <div class="chip">
                                        <img src="{{ user.photo }}" alt="Photo user"> <!-- notice the "circle" class -->
                                        <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>Pas encore de memdre dans cette équipe</p>
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Présentation :</h5>
                    <p>{{ project.presentation }}</p>
                </div>
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Bénéfices collectifs :</h5>
                    <p>{{ project.profit }}</p>
                </div>
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Bénéfices pour l'employeur :</h5>
                    <p>{{ project.beneficeCompany }}</p>
                </div>
            </div>
        </div>
    </section>
</div>