<div class="row hide-on-med-and-down show-on-large">
    <section class="blocDetailsProject">
        <div class="col s12 l4">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item avatar" id="userProject">
                        <a href="{{ path('profilEmploye') }}">
                            <img src="https://randomuser.me/api/portraits/med/men/11.jpg" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">Créer par : </span>
                                <p>{{ project.author }}</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons amber-text text-darken-2">person</i></p>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <a href="{{ path('profilHappyCoach') }}">
                            <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">HappyCoach référent :</span>
                                <p>@name.happyCoach</p>
                            </div>
                            <p class="secondary-content"><i class="material-icons pink-text text-darken-2">group</i></p>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <a href="{{ path('profilCompany') }}">
                            <img src="http://philaecom.fr/wp-content/uploads/2016/10/philacomdigitalemini.png" alt="" class="circle">
                            <div class="black-text">
                                <span class="titleSecond">Entreprise :</span>
                                <p></p>
                            </div>
                            <p class="secondary-content"><i class="material-icons blue-text text-darken-2">domain</i></p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Langues</p>
                            <div class="col s12">
                                <i class="fa fa-language fa-2x"></i>
                                <i class="fa fa-language fa-2x"></i>
                                <i class="fa fa-language fa-2x"></i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Sport</p>
                            <div class="col l12">
                                <i class="material-icons amber-text text-darken-2">star</i>
                                <i class="material-icons  amber-text text-darken-2">star</i>
                                <i class="material-icons  amber-text text-darken-2">star</i>
                                <i class="material-icons  amber-text text-darken-2">star_half</i>
                                <i class="material-icons  amber-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Montagne</p>
                            <div class="col l12">
                                <i class="material-icons amber-text text-darken-2">star</i>
                                <i class="material-icons  amber-text text-darken-2">star</i>
                                <i class="material-icons  amber-text text-darken-2">star</i>
                                <i class="material-icons  amber-text text-darken-2">star_border</i>
                                <i class="material-icons  amber-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section class="blocExplainProject">
        <div class="col s12 l8">
            <div class="row">
                <div class="right">
                    <a href="#" onclick="joinProject()"  class="btn waves-effect waves-light personPlus" type="submit" name="action">Rejoindre
                        <i class="material-icons right">person_add</i>
                    </a>
                </div>
                <div class="dateProject left">
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-calendar-check-o"></i></span> {{ project.startingDate|date('Y-m-d') }}</p>
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-calendar-times-o"></i></span> {{ project.endDate|date('Y-m-d') }}</p>
                    <p class="black-text chip"><span class="blue-text text-darken-2"><i class="fa fa-map-marker"></i></span> {{ project.location }}</p>
                    <p class="black-text chip"><span class="red-text"><i class="fa fa-heart"></i></span> {% for likeProject in project.likeProjects %}{{ likeProject.id }}{% endfor %}</p>
                </div>
            </div>
            <div class="containList">
                <h5 class="titleSecond amber-text text-darken-2">Equipe :</h5>
                <ul class="inline-team-list">
                    <li>
                        <a href="{{ path('profilEmploye') }}">
                            <div class="chip">
                                <img src="https://randomuser.me/api/portraits/med/men/78.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                {% for user in project.teamProject %}
                                <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('profilEmploye') }}">
                            <div class="chip">
                                <img src="https://randomuser.me/api/portraits/med/women/1.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                {% for user in project.teamProject %}
                                    <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('profilEmploye') }}">
                            <div class="chip">
                                <img src="https://randomuser.me/api/portraits/med/women/45.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                {% for user in project.teamProject %}
                                    <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('profilEmploye') }}">
                            <div class="chip">
                                <img src="https://randomuser.me/api/portraits/med/men/16.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                {% for user in project.teamProject %}
                                    <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('profilEmploye') }}">
                            <div class="chip">
                                <img src="https://randomuser.me/api/portraits/med/men/65.jpg" alt="Logo company"> <!-- notice the "circle" class -->
                                {% for user in project.teamProject %}
                                    <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Présentation :</h5>
                    <p>{{ project.presentation }}</p>
                </div>
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Bénéfices collectifs :</h5>
                    <p>{{ project.profit }}</p>
                </div>
                <div class="detailsProjectExplain">
                    <h5 class="titleSecond amber-text text-darken-2">Bénéfices pour l'employeur :</h5>
                    <p>{{ project.beneficeCompany }}</p>
                </div>
            </div>
        </div>
    </section>
</div>