{% if project.teamProject is not empty %}
    {% for user in project.teamProject %}
        <li>
            {% if user.status == 2 or  user.status == 3%}
                <a href="{{ path('UserProfil', {'slug' : user.slug })}}">
                    <div class="chip amber">
                        <img src="{{ user.photo }}" alt="Photo utilisateur"> <!-- notice the "circle" class -->
                        <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                    </div>
                </a>
            {% else %}
                <a href="{{ path('profilHappyCoach', {'slug' : user.slug })}}">
                    <div class="chip pink">
                        <img src="{{ user.photo }}" alt="Photo utilisateur"> <!-- notice the "circle" class -->
                        <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                    </div>
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% else %}
    <p>Pas encore de membre dans cette équipe</p>
{% endif %}

