{% if project.teamProject is not empty %}
    {% for user in project.teamProject %}
        <li>
            {% if user.status == 2 or  user.status == 3%}
                <a href="{{ path('UserProfil', {'slug' : user.slug })}}">
                    <div class="chip amber darken-2">
                        {% if user.photo is not null %}
                        <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="Photo utilisateur">
                        {% else %}
                        <img src="{{ asset('assets/images/placeholder.png') }}">
                        {% endif %}
                        <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                    </div>
                </a>
            {% else %}
                <a href="{{ path('profilHappyCoach', {'slug' : user.slug })}}">
                    <div class="chip pink">
                        {% if user.photo is null %}
                            <img src="{{ asset('assets/images/placeholder.png') }}">

                        {% else %}
                            <img src="{{ asset('uploads/photoUser/' ~ user.photo) }}" alt="Photo utilisateur">
                        {% endif %}
                        <span class="black-text">{{ user.firstName }} {{ user.lastName }}</span>
                    </div>
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% else %}
    <div class="withoutTeamProject">
        <p>
            <i class="material-icons medium">group</i>
            <br>
            Pas encore de membre dans cette équipe
        </p>
    </div>
{% endif %}

