{% extends 'baseIn.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="headerDetailsProject">
                <div class="">
                        {{ include('project/status.html.twig') }}
                </div>
                <div class="row">
                    <div class="title center">
                        <p class="amber-text text-darken-2">{{ project.title }}</p>
                    </div>
                </div>
            </div>
        </div>
        {{ include('project/mobileRecapProjet.html.twig') }}
        {{ include('project/largeRecapProjet.html.twig') }}
    </div>
{% endblock %}
