{% extends 'baseIn.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="headerDetailsProject">
                <div class="background">
                    <img src="{{ asset('uploads/photoProject/' ~ project.photo) }}" alt="">
                    <div class="content col s12">
                        {{ include('project/status.html.twig') }}
                        <div class="row">
                            <div class="contentTitleProject col s12">
                                <p class="center titleProject amber-text text-darken-2">{{ project.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('project/mobileRecapProjet.html.twig') }}
        {{ include('project/largeRecapProjet.html.twig') }}
    </div>
{% endblock %}
