{% extends 'baseIn.html.twig' %}

{% block title %}Vos notifications{% endblock %}

{% block content %}
    <div class="container generalContainer">
        <div class="row">
            <h2 class="header left title">Vos notifications</h2>
            <ul class="col s12">
                {% for notif in allRecap %}
                <li class="col s10 offset-s1">
                    <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                {% if notif.sender.photo is null %}
                                    <img src="{{ asset('assets/images/placeholder.png') }}" alt="profile image" class="circle responsive-img">
                                {% else %}
                                    <img src="{{ asset('uploads/photoCompany/' ~ notif.sender.photo) }}" alt="profile image" class="circle responsive-img">
                                {% endif %}
                            </div>
                            <ul class="col s10">
                                <li class="black-text">
                                    {{ notif.sender.firstname }} {{ notif.sender.lastname }} {{ notif.content }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

