{% extends 'baseIn.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="adminDashboard">
        <div class="row">
            <div class="col s12 m12 l6 containerDashboard">
                <div class="contentDashboard">
                    <h2>Inscriptions</h2>
                    <section class="listAddUsers">
                        <a href="{{ path('newCompany') }}">
                            <div class="center valign-wrapper hoverable" id="createCompany">
                                <ul>
                                    <li><i class="fa fa-building fa-2x"></i></li>
                                    <li><p>Nouvelle entreprise</p></li>
                                </ul>
                            </div>
                        </a>
                        <a href="{{ path('newUser', {'status' : constant('AppBundle\\Entity\\User::ROLE_EMPLOYE') }) }}">
                            <div class="center valign-wrapper hoverable" id="createEmploye">
                                <ul>
                                    <li><i class="fa fa-user-plus fa-2x"></i></li>
                                    <li><p>Nouveau collaborateur</p></li>
                                </ul>
                            </div>
                        </a>
                        <a href="{{ path('newUser', {'status' : constant('AppBundle\\Entity\\User::ROLE_HAPPYCOACH')}) }}">
                            <div class="center valign-wrapper hoverable" id="createHappy">
                                <ul>
                                    <li><i class="fa fa-user-plus fa-2x"></i></li>
                                    <li><p>Nouveau HappyCoach</p></li>
                                </ul>
                            </div>
                        </a>
                    </section>
                </div>
            </div>
            <div class="col s12 m12 l6 containerDashboard">
                <div class="contentDashboard">
                    <h2>Projets</h2>
                    <section class="listAddUsers">
                        <a href="{{ path('listingProjects', {'status': 1}) }}">
                            <div class="center valign-wrapper hoverable" id="waitProject">
                                <ul>
                                    <li><i class="fa fa-folder-open-o fa-2x"></i></li>
                                    <li>{{ nbProjectsByStatus[1] }} </li>
                                    <li>projets à valider</li>
                                </ul>
                            </div>
                        </a>
                        <a href="{{ path('listingProjects', {'status': 2}) }}">
                            <div class="center valign-wrapper hoverable" id="validProject">
                                <ul>
                                    <li><i class="fa fa-check-square-o fa-2x"></i></li>
                                    <li>{{ nbProjectsByStatus[2] }}</li>
                                    <li>projets en cours</li>
                                </ul>
                            </div>
                        </a>
                        <a href="{{ path('listingProjects', {'status': 3}) }}">
                            <div class="center valign-wrapper hoverable" id="finishProject">
                                <ul>
                                    <li><i class="fa fa-folder-o fa-2x"></i></li>

                                    <li>{{ nbProjectsByStatus[3] }}</li>

                                    <li> projets terminé</li>
                                </ul>
                            </div>
                        </a>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 containerDashboard">
                <div class="contentDashboard">
                    <h2>Entreprises</h2>
                    <section class="listSimple">
                        <a href="{{ path('listingCompany') }}">
                            <p class="center valign-wrapper" id="allCompany"><i class="fa fa-list-alt fa-2x"> </i>
                                <span>Toutes les entreprises ({{ nbCompany[0][1] }})</span></p>
                        </a>
                        <a href="{{ path('resumeCompany') }}">
                            <p class="center valign-wrapper" id="allCompany"><i class="fa fa-list-alt fa-2x"> </i>
                                <span>Fiche résumé inscription entreprise</span></p>
                        </a>
                        <a href="{{ path('listingUser') }}">
                            <p class="center valign-wrapper" id="allCompany"><i class="fa fa-list-alt fa-2x"> </i>
                                <span>Tous les collaborateurs :
                                ({{ nbUserByStatus['collaborator']['isActif'] }}
                                    / {{ nbUserByStatus['collaborator']['total'] }})
                                </span></p>
                            {#<span>Tous les collaborateurs ({{ nbUserByStatus[2][1] + nbUserByStatus[3][1] }})</span></p>#}
                        </a>
                    </section>
                </div>
            </div>
            <div class="col s12 m12 l4 containerDashboard">
                <div class="contentDashboard">
                    <h2>HappyCoachs</h2>
                    <section class="listSimple">
                        <a href="{{ path('listingHappyCoach') }}">
                            <p class="center valign-wrapper" id="allHappyCoach"><i class="fa fa-list-alt fa-2x"> </i>
                                <span>Tous les happyCoachs
                                        ({{ nbUserByStatus['happyCoach']['isActif'] }}
                                    / {{ nbUserByStatus['happyCoach']['total'] }})
                                         </span></p>
                        </a>
                        <a href="{{ path('listingUser') }}">
                            <p class="center valign-wrapper" id="addProjectHappy"><i class="fa fa-user-plus fa-2x"> </i>
                                <span>Placer un happyCoach</span></p>
                        </a>
                        <a href="{{ path('listingUser') }}">
                            <p class="center valign-wrapper" id="deleteCompany"><i class="fa fa-trash-o fa-2x"> </i>
                                <span>Supprimer happyCoach</span>
                            </p>
                        </a>
                    </section>
                </div>
            </div>
            <div class="col s12 m12 l4 containerDashboard">
                <div class="contentDashboard">
                    <h2>Talents</h2>
                    <section class="listSimple">
                        <a href="{{ path('skills_index') }}">
                            <p class="center valign-wrapper" id="AllSkills"><i class="fa fa-list-alt fa-2x"> </i>
                                <span>Liste des talents ({{ nbSkill[0][1] }})</span></p>
                        </a>
                        <a href="{{ path('skills_new') }}">
                            <p class="center valign-wrapper" id="addSkill"><i class="fa fa-list-alt fa-2x"> </i>
                                <span>Ajouter un talent </span></p>
                        </a>
                        <a href="{{ path('listingUser') }}">
                            <p class="center valign-wrapper" id="deleteSkill"><i class="fa fa-trash-o fa-2x"> </i>
                                <span>Supprimer un talent</span></p>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

